<% title t(:physical_racks) %>

<div class="grid_9 center">

<%= action_links do %>
  <%= link_to t(:new_physical_rack), new_physical_rack_path %>
<% end %>

<table class="pretty list physical_racks">
<thead>
  <tr>
    <th><%= t(:site) %></th>
    <th><%= t(:name) %></th>
    <th><%= t(:servers) %></th>
    <th><%= t(:stock) %>?</th>
    <th></th>
  </tr>
</thead>
<tbody class="long-list">
<% @physical_racks.each do |physical_rack| %>
  <tr>
    <td><%= physical_rack.site %></td>
    <td><%= link_to physical_rack.name, edit_physical_rack_path(physical_rack) %></td>
    <td class="center"><%= @servers_count[physical_rack.id] || 0 %></td>
    <td class="stock center"><%= "&#149;".html_safe if physical_rack.stock? %></td>
    <td><%= link_to_delete physical_rack %></td>
  </tr>
<% end %>
<% if @servers_count[nil] %>
  <tr>
    <td colspan="2"><em>><%= t(:unknown) %></em></td>
    <td class="center"><%= @servers_count[nil] %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</tbody>
</table>

</div>
