<% title "Machines - Services" %>

<div class="grid_9 center">

<%= action_links do %>
  <%= link_to "Nouveau service", new_service_path %>
<% end %>

<table>
  <tr>
    <th>Nom</th>
    <th colspan="2" class="actions">Actions</th>
  </tr>
<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td><%= link_to 'Editer', edit_service_path(service) %></td>
    <td><%= link_to 'Supprimer', service, :confirm => 'Etes-vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>
