<tr class="fix-on-scroll">
  <th class="left"><%= t(:editor) %></th>
  <th class="left"><%= t(:key) %></th>
  <th class="left"><%= t(:title) %></th>
  <th><%= t(:quantity) %></th>
  <th><%= t(:servers) %></th>
  <th><%= t(:purshased_on) %></th>
  <th><%= t(:renewal_on) %></th>
  <th class="right"><%= t(:comment) %></th>
</tr>
<% @licenses.each do |license| %>
<tr class="has-opaques">
  <td><%= license.editor %></td>
  <td>
    <div class="contextual opaque">
      <%= link_to_delete license %>
    </div>
    <%= link_to license.key, edit_license_path(license) %>
  </td>
  <td><%= license.title %></td>
  <td class="center"><%= license.quantity %></td>
  <td class="center"><%= license.servers.sort_by(&:name).map{|s| link_to s, s}.join("<br/>").html_safe %></td>
  <td class="center"><%= license.purshased_on %></td>
  <td class="center"><%= renewal_limit(license.renewal_on) %></td>
  <td><%= license.comment %></td>
</tr>
<% end %>
