<tr class="fix-on-scroll">
  <%= sortable_th "name", nil, :style => "min-width:10em" %>
  <%= sortable_th "virtual", nil, :style => "width:2em" %>
  <th style="width:2em">Puppet</th>
  <%= sortable_th "operating_systems.name", t(:operating_system), :style => "width:12em" %>
  <%= sortable_th "operatingsystemrelease", t(:osrelease_facter), :style => "width:9em" %>
  <%= sortable_th "puppetversion", nil, :style => "width:9em" %>
  <%= sortable_th "facterversion", nil, :style => "width:9em" %>
  <%= sortable_th "rubyversion", nil, :style => "width:9em" %>
</tr>
<% for server in @servers %>
  <tr class="has-opaques">
    <td>
      <div class="contextual opaque">
        <%= link_to_delete server %>
      </div>
      <%= link_to server.name, server %>
    </td>
    <td class="center"><% if server.virtual? %><span class="virtual-server">V</span><% end %></td>
    <td class="center"><% if server.puppetversion? %><span class="puppetized-server">P</span><% end %></td>
    <td><%= server.operating_system %></td>
    <td class="center"><%= server.operatingsystemrelease %></td>
    <td class="center"><%= server.puppetversion %></td>
    <td class="center"><%= server.facterversion %></td>
    <td class="center"><%= server.rubyversion %></td>
  </tr>
<% end %>
