<% title "Puppet - #{t(:servers)}" %>

<div id="puppet_servers" class="items_list grid_12">

<% if @to_puppetize.present? %>
<div id="to-puppetize">
  <div class="contextual puppet_rate">
    <%= t(:puppet_deployment_rate) %>: <%= 100 * @puppetized_count / (@to_puppetize.count + @puppetized_count) %>%
  </div>
  <h2><%= t(:to_puppetize) %> (<%= @to_puppetize.count %>)</h2>
  <div class="servers">
    <%= @to_puppetize.map{|server| link_to server, server}.join(", ").html_safe %>
  </div>
</div>
<% end %>

<table class="pretty list">
  <%= form_tag puppet_path(:servers), id: "filters", method: :get do -%>
    <%= hidden_sort_fields %>
  <tr class="filters fixed-size">
    <td><%= text_field_tag "search", params[:search] %></td>
    <td><%= select_tag "by_virtual", options_for_select([[t(:word_yes), "1"], [t(:word_no), 0]], params[:by_virtual]).html_safe, include_blank: true -%></td>
    <td><%= select_tag "by_puppet", options_for_select([[t(:word_yes), "1"], [t(:word_no), 0]], params[:by_puppet]).html_safe, include_blank: true -%></td>
    <% @os = ancestry_options(OperatingSystem.scoped.arrange(order: 'name')){|i| "#{'-'*i.depth} #{i.name}"} %>
    <td><%= select_tag "by_system", options_for_select(@os, params[:by_system]).html_safe, include_blank: true -%></td>
    <td><%= select_tag "by_osrelease", options_for_select(@operatingsystemreleases.map{|v|[v,v]}, params[:by_osrelease]).html_safe, include_blank: true -%></td>
    <td><%= select_tag "by_puppetversion", options_for_select(@puppetversions.map{|v|[v,v]}, params[:by_puppetversion]).html_safe, include_blank: true -%></td>
    <td><%= select_tag "by_facterversion", options_for_select(@facterversions.map{|v|[v,v]}, params[:by_facterversion]).html_safe, include_blank: true -%></td>
    <td>
      <%= select_tag "by_rubyversion", options_for_select(@rubyversions.map{|v|[v,v]}, params[:by_rubyversion]).html_safe, include_blank: true -%>
      <span id="puppet_servers_counter" class="counter"><%= @servers.count %></span>
    </td>
  </tr>
  <% end -%>
  <tbody id="puppet_servers_list" class="long-list">
    <%= render "list" %>
  </tbody>
</table>

</div>
