<% if @cronjobs.present? %>
  <tr class="fix-on-scroll">
    <th>Serveur</th>
    <th>Définition</th>
    <th>Fréquence</th>
    <th>User</th>
    <th>Commande</th>
  </tr>
  <% @cronjobs.each do |cronjob| %>
  <tr>
    <td><%= link_to cronjob.server, cronjob.server %></td>
    <td><%= cronjob.definition_location %></pre></td>
    <td><pre><%= cronjob.frequency %></pre></td>
    <td><pre><%= cronjob.user %></pre></td>
    <td><code><%= cronjob.command %></code></td>
  </tr>
  <% end %>
  <% if @cronjobs.size == 100 %>
    <tr><td class="center" colspan="5"><em>Limite de 100 crons atteinte. Vous devriez affiner votre recherche.</em></td></tr>
  <% end %>
<% else %>
  <tr><td class="center" colspan="5"><em>Aucun cron correspondant, affinez votre recherche.</em></td></tr>
<% end %>
