<%= simple_form_for(@operating_system) do |f| %>
  <% action_links do %>
    <%= f.button :submit %>
    ou <%= link_to "Retourner à la liste", operating_systems_path %>
  <% end %>

  <table class="inputs">
    <tbody>
      <%= tabular_errors @operating_system %>
      <%= f.input :name, :required => true, :wrapper_class => 'th' %>
      <%= nested_select_tag(OperatingSystem, f, @operating_system, :parent_id, :name) %>
    </tbody>
  </table>
<% end %>
