<div class="grid_9 center">

<%= simple_form_for(@operating_system) do |f| %>
  <%= action_links do %>
    <%= f.button :submit %>
    <%= t(:or) %> <%= link_to t(:back_to_the_list), operating_systems_path %>
  <% end %>

  <table class="inputs">
    <tbody>
      <%= tabular_errors @operating_system %>
      <%= f.input :name, :required => true, :wrapper_class => 'th' %>
      <%= f.input :codename %>
      <%= f.input :managed_with_puppet %>
      <% @os = OperatingSystem.scoped.arrange(:order => 'name') %>
      <% exclusions_for_future_versions = @operating_system.subtree unless @operating_system.blank? || @operating_system.new_record? %>
      <%= f.input :parent_id, :as => :select, :collection => ancestry_options(@os){|i| "#{'-'*i.depth} #{i.name}"} %>
    </tbody>
  </table>
<% end %>

</div>
