<% total_servers = subtree.inject(0){|sum, descendant| sum + @os_servers_count[descendant.to_s] } %>
<%= content_tag_for :div, operating_system do %>
  <div class="contextual">
    <%= link_to_delete operating_system %>
  </div>
  <div class="contextual servers-count">
    <%= @os_servers_count[operating_system.id.to_s] %>
  </div>
  <%= content_tag :div, style:"padding-left:#{15 * operating_system.depth - 10}px" do %>
    <%= link_to operating_system.to_s, edit_operating_system_path(operating_system), class: (operating_system.depth > 0 ? "nested-os" : nil) %>
    <span class="tiny">(<%= total_servers %>)</span>
    <% if operating_system.managed_with_puppet? %>
      <span class="tiny puppet">P</span>
    <% end %>
  <% end %>
  <script type="text/javascript">
    serversmap['<%= operating_system.id %>'] = <%= total_servers %>;
  </script>
<% end %>
