<% title "Systèmes d'exploitation" %>

<div id="operating_systems" class="grid_5 center">
  
<%= action_links do %>
  <%= link_to "Nouveau système d'exploitation", new_operating_system_path %>
<% end %>

<script type="text/javascript"> 
  var serversmap = new Object;
</script>

<table class="list operating_systems">
  <tr>
    <th>
      <div class="contextual">Serveurs</div>
      Nom(total)
    </th>
  </tr>
  <tr>
    <td><%= nested_operating_systems @operating_systems %></td>
  </tr>
</table>

</div>

<div class="grid_4 center">
<% if @os_subtree.present? %>
  <div class="graph-links tiny">
  <% if @root_os.present? %>
    <%= link_to("Recentrer"+(@root_os.parent.present? ? " sur #{@root_os.parent}" : ""), operating_systems_path(:graph_subtree => @root_os.parent_id)) %>
  <% else %>
    &nbsp;
  <% end %>
  </div>
  <div class="graph-container">
    <script type="text/javascript" charset="utf-8"> 
      window.onload = function () {
        var r = Raphael("distribution", 300, 410);
        r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";

        var title = "Répartition des systèmes";
      <% if @root_os.present? %>
        title += " <%= @root_os.to_s %>";
      <% end %>
        r.g.text(150, 25, title).attr({"font-size": 16});

        var subtree = [];
        <% @os_subtree.each do |os,subos| %>
        subtree.push({ value: serversmap[<%= os.id %>], legend: "<%= %(%% #{os} [#{os.id}]) %>",
                       href: "<%= subos.any? ? "#{operating_systems_path(:graph_subtree => os.id)}" : "#" %>" });
        <% end %>
        subtree.sort(function(a,b){return b.value - a.value});
        var pie = r.g.piechart(150, 155, 100, $.map(subtree, function(os,i){ return os.value}),
                    { legend: $.map(subtree, function(os,i){ return os.legend}), legendmark: "disc", legendpos: "south", 
                      href: $.map(subtree, function(os,i){ return os.href}), colors: ["#36C", "#C33", "#093", "#FD0"] });

        var legend_regex = /(.+) \[(\d+)\]$/;
        $.each(pie.labels, function() {
          var label = this[1].attrs.text;
          this.osId = label.replace(legend_regex, "$2");
          this[1].attr({text: label.replace(legend_regex, "$1")});
        });
        pie.hover(function () {
          this.sector.stop();
          this.sector.scale(1.02, 1.04, this.cx, this.cy);
          if (this.label) {
            this.label[0].stop();
            this.label[0].scale(1.2);
            this.label[1].attr({"font-weight": 800});
            var sel = "#operating_system_"+this.label.osId
            //sel += ", #nested_os_"+this.label.osId+" .operating_system"
            $(sel).addClass("hover");
          }
        }, function () {
          this.sector.animate({scale: [1, 1, this.cx, this.cy]}, 500, "bounce");
          if (this.label) {
            this.label[0].animate({scale: 1}, 500, "bounce");
            this.label[1].attr({"font-weight": 400});
            var sel = "#operating_system_"+this.label.osId
            //sel += ", #nested_os_"+this.label.osId+" .operating_system"
            $(sel).removeClass("hover");
          }
        });
      };
    </script>
    <div id="distribution" class="graph" style="width:300px;"></div>
  </div>
<% end %>
</div>
