<% title "Systèmes d'exploitation" %>

<div id="operating_systems" class="grid_5 center">
  
<%= action_links do %>
  <%= link_to "Nouveau système d'exploitation", new_operating_system_path %>
<% end %>

<script type="text/javascript"> 
  var serversmap = new Object;
</script>

<table class="list operating_systems">
  <tr>
    <th>
      <div class="contextual">Serveurs</div>
      Nom(total)
    </th>
  </tr>
  <tr>
    <td><%= nested_operating_systems @operating_systems %></td>
  </tr>
</table>

</div>

<div class="grid_4 center">
<% if @operating_systems.any? %>
  <div class="graph-container">
    <script type="text/javascript" charset="utf-8"> 
      window.onload = function () {
        var r = Raphael("distribution", 250, 410);
        r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";

        r.g.text(125, 25, "Répartition des systèmes").attr({"font-size": 16});

        var pie = r.g.piechart(125, 155, 100, [<%= @operating_systems.keys.map{|os| %(serversmap[#{os.id}])}.join(", ").html_safe %>],
                    {legend: [<%= @operating_systems.keys.map{|os| %("%% #{os} [#{os.id}]")}.join(", ").html_safe %>], legendmark: "disc", legendpos: "south",
                     href: [<%= @operating_systems.keys.map{|os| %("#")}.join(", ").html_safe %>], colors: ["#36C", "#C33", "#093", "#FD0"]});

        var legend_regex = /(.+) \[(\d+)\]$/;
        $.each(pie.labels, function() {
          var label = this[1].attrs.text;
          this.osId = label.replace(legend_regex, "$2");
          this[1].attr({text: label.replace(legend_regex, "$1")});
        });
        pie.hover(function () {
          this.sector.stop();
          this.sector.scale(1.02, 1.04, this.cx, this.cy);
          if (this.label) {
            this.label[0].stop();
            this.label[0].scale(1.2);
            this.label[1].attr({"font-weight": 800});
            var sel = "#operating_system_"+this.label.osId
            //sel += ", #nested_os_"+this.label.osId+" .operating_system"
            $(sel).addClass("hover");
          }
        }, function () {
          this.sector.animate({scale: [1, 1, this.cx, this.cy]}, 500, "bounce");
          if (this.label) {
            this.label[0].animate({scale: 1}, 500, "bounce");
            this.label[1].attr({"font-weight": 400});
            var sel = "#operating_system_"+this.label.osId
            //sel += ", #nested_os_"+this.label.osId+" .operating_system"
            $(sel).removeClass("hover");
          }
        });

        piez = pie;
      };
    </script>
    <div id="distribution" class="graph" style="width:250px;"></div>
  </div>
<% end %>
</div>
