<tr class="fix-on-scroll">
  <%= sortable_th "name", nil, :style => "width:10em" %>
  <%= sortable_th "type", nil, :style => "width:2em" %>
  <%= sortable_th "count", nil, :style => "width:2em" %>
  <%= sortable_th "packages_list", nil, :style => "min-width:9em" %>
</tr>
<% for upgrade in @upgrades %>
  <tr class="has-opaques">
    <td><%= link_to upgrade.server.name, upgrade.server %></td>
    <td class="center"><%= upgrade.strategy %></td>
    <td class="center"><%= upgrade.packages_list.count %></td>
    <td><%= upgrade.packages_list.join(" ") %></td>
  </tr>
<% end %>
