<% title t(:system_upgrades) %>

<div id="upgrades" class="items_list span12">

<table class="pretty list">
  <%= form_tag upgrades_path, id: "filters", method: :get do -%>
    <%= hidden_sort_fields %>
  <tr class="filters fixed-size">
    <td><%= text_field_tag "by_server", params[:by_server] %></td>
    <td></td>
    <td><%= check_box_tag "by_any_package", "1", params[:by_any_package] == "1" %></td>
    <td><%= text_field_tag "by_package", params[:by_package] %></td>
  </tr>
  <% end -%>
  <tbody id="upgrades_list" class="long-list">
    <%= render "list" %>
  </tbody>
</table>

</div>
