<%= action_links do %>
  <div class="contextual">
    <%= link_to image_tag("file_extension_pdf.png"), saa_path(params.merge(:format => "pdf")) %>
  </div>
  <ul class="select-buttons">
    <%= content_tag :li, link_to("Redmine", saa_path(:redmine)), :class => (params[:id] == "redmine" ? "current" : "") %>
    <%= content_tag :li, link_to("PHP/Mysql", saa_path(:php)), :class => (params[:id] == "php" ? "current" : "") %>
    <%= content_tag :li, link_to("Request Tracker", saa_path(:rt)), :class => (params[:id] == "rt" ? "current" : "") %>
  </ul>
<% end %>
