<%
datafile = "data/php/environnements.txt"

mysqldbs = []
phpenvs = []

if File.exists?(datafile)
  mysqldbs = File.readlines(datafile).grep(/ mysql/).map do |line|
    a = line.chomp.split(/\s+/)
    {:server=>a[0], :name=>a[3].split("/").last, :size=>a[2].to_i*1024}
  end
  phpenvs = File.readlines("data/php/environnements.txt").grep(/ php/).map do |line|
    a = line.chomp.split(/\s+/)
    p = a[3].split("/")
    {:server=>a[0], :name=>p[-1], :php_version=>p[-2], :size=>a[2].to_i*1024}
  end
end

php5 = %x(grep -rl php-test data/rp/rp-intra-01/sites-enabled/* 2>/dev/null).split.map{|f| f.split("/").last.gsub(".appli.i2","")}
phpenvs.reject! do |env|
  (php5.include?(env[:name]) && env[:server] != "vm-php") || (!php5.include?(env[:name]) && env[:server] == "vm-php")
end
%>

<% title "Software as a Service - PHP/Mysql" %>

<div id="saas" class="grid_12 items_list">

<%= render "submenu" %>

<table id="php" class="pretty list">
  <tr id="fix-on-scroll">
    <th>Environnement</th>
    <th>Serveur</th>
    <th>Version</th>
    <th>Fichiers</th>
    <th>Bases</th>
  </tr>
  <tbody class="long-list">
<% phpenvs.group_by{|i|i[:server]}.each do |server,environments| %>
  <% @i = 0 %>
  <tr>
    <td rowspan="<%= environments.length %>" class="multirow">
      <%= link_to_server_if_exists(server).html_safe %><br />
      <span class="tiny">(<%= environments.length %>)</span>
    </td>
  <% environments.sort_by{|e| e[:name]}.each do |env| %>
  <% @i += 1 %>
  <%= "<tr>".html_safe if @i != 1 %>
    <td><%= link_to env[:name], "http://#{env[:name]}.appli.i2/" %></td>
    <td class="center"><%= env[:php_version] %></td>
    <td class="center"><%= pretty_size(env[:size]).sub("bytes","b") %></td>
    <td>
      <ul class="details">
      <%= mysqldbs.select{|m| m[:name].starts_with?(env[:name])}.group_by do |db|
            db[:server]
          end.map do |server,dbs|
            "<li>#{link_to_server_if_exists server}: #{dbs.map{|db| "#{db[:name]} (#{pretty_size(db[:size]).sub("bytes","b")})"}.join(", ")}</li>"
          end.join("<br/>").html_safe %>
      </ul>
    </td>
  </tr>
  <% end %>
<% end %>
  </tbody>
</table>

</div>
