<% @redmine_instances = RedmineInstance.all.sort_by{|i| [i.server, i.name]} %>

<% title "Software as a Service - Redmine" %>

<div id="saas" class="grid_12 items_list">

<%= render "submenu" %>

<table class="pretty list">
  <tr>
    <th>Serveur</th>
    <th>Instance</th>
    <th>Responsable</th>
    <th>Stats</th>
    <th>Version</th>
    <th>Taille</th>
  </tr>
<% @redmine_instances.group_by{|i|i.server}.each do |server,instances| %>
  <tr>
    <td rowspan="<%= instances.length %>"><%= link_to_servername(server).html_safe %></td>
  <% instances.each do |instance| %>
  <% @i ||= 0 ; @i += 1 %>
  <%= "<tr>".html_safe if @i != 1 %>
    <td><%= link_to instance.name, "http://#{instance.name}.projet.appli.i2/" %></td>
    <td class="center"><%= instance.admin %></td>
    <td class="center">
      <%= instance.nb_projects %> projets / <%= instance.nb_users %> utilisateurs
    </td>
    <td class="center"><%= instance.version %></td>
    <td class="center"><%= pretty_size(instance.size) %></td>
  </tr>
  <% end %>
<% end %>
</table>

</div>
