<% @redmine_instances = RedmineInstance.all.sort_by{|i| [i.server, i.name]} %>
<% show_plugins = @redmine_instances.any?{|inst| inst.plugins.any?} %>

<% title "Software as a Service - Redmine" %>

<div id="saas" class="grid_12 items_list">

<%= render "submenu" %>

<table class="pretty list">
  <tr class="fix-on-scroll">
    <th>Serveur</th>
    <th>Instance</th>
    <th>Responsable</th>
    <th>Version</th>
    <% if show_plugins %><th>Plugins</th><% end %>
    <th>Projets</th>
    <th>Utilisateurs</th>
    <th>Taille</th>
  </tr>
  <tbody class="long-list">
<% @redmine_instances.group_by{|i|i.server}.each do |server,instances| %>
  <tr>
    <td rowspan="<%= instances.length %>" class="multirow">
      <%= link_to_server_if_exists(server).html_safe %>
    </td>
  <% instances.each do |instance| %>
  <% @i ||= 0 ; @i += 1 %>
  <%= "<tr>".html_safe if @i != 1 %>
    <td><%= link_to instance.name, "http://#{instance.name}.projet.appli.i2/" %></td>
    <td class="center"><%= instance.admin %></td>
    <td class="center"><%= instance.version %></td>
    <% if show_plugins %><td class="center"><%= instance.plugins.join("<br/>").html_safe %></td><% end %>
    <td class="center"><%= instance.nb_projects %></td>
    <td class="center"><%= instance.nb_users %></td>
    <td class="center"><%= pretty_size(instance.size) %></td>
  </tr>
  <% end %>
<% end %>
  </tbody>
</table>

</div>
