<% @rt_instances = RtInstance.all.sort_by{|i| [i.server, i.name]} %>

<% title "Software as a Service - Request Tracker" %>

<div id="saas" class="grid_12 items_list">

<%= render "submenu" %>

<table class="pretty list chrome-bug-on-scroll">
  <tr class="fix-on-scroll">
    <th><%= t(:server) %></th>
    <th><%= t(:application_instance) %></th>
    <th><%= t(:version) %></th>
    <th><%= t(:queues) %></th>
    <th><%= t(:users) %></th>
    <th><%= t(:tickets) %></th>
    <th><%= t(:database) %></th>
  </tr>
  <tbody class="long-list">
<% @rt_instances.group_by{|i|i.server}.each do |server,instances| %>
  <tr>
    <td rowspan="<%= instances.length+1 %>" class="multirow">
      <%= link_to_server_if_exists(server).html_safe %>
    </td>
    <td colspan="6" class="hidden"></td>
  </tr>
  <% instances.each do |instance| %>
  <tr>
    <td><%= instance.name %></td>
    <td class="center"><%= instance.version %></td>
    <td class="center"><%= instance.nb_queues %></td>
    <td class="center"><%= instance.nb_users %></td>
    <td class="center"><%= instance.nb_tickets %></td>
    <td>
      <%= instance.host %>:<%= instance.port %><br />
      <%= instance.user %>:<%= instance.name %><br />
    </td>
  </tr>
  <% end %>
<% end %>
  </tbody>
</table>

</div>
