<div class="fields">
  <%= f.label :name, :class => "input" %> <%= f.text_field :name, :maxlength => 15 %>
  <%= link_to_remove_fields image_tag("delete.png"), f %>
  <br />
  <%= f.label :machines, :class => "input" %> <%= f.input_field :machine_ids, :collection => Machine.order(:name), :as => :multiselect %>
  <div class="clear"></div>
</div>
