<%= simple_form_for(@application) do |f| %>
  <p class="actions">
    <%= f.button :submit %>
    ou <%= link_to "Retourner à la liste", applications_path %>
    <% unless @application.new_record? %>
      | <%= link_to "Voir", @application %>
    <% end %>
  </p>

  <table class="show_item">
    <tbody>
      <%= tabular_errors @application %>
      <%= f.input :name, :required => true, :wrapper_class => "th" %>
      <%= f.input :criticity, :as => :radio, :collection => 1..3 %>
      <%= f.input :iaw %>
      <%= f.input :pe %>
      <%= f.input :moa %>
      <%= f.input :amoa %>
      <%= f.input :moa_note %>
      <%= f.input :contact %>
      <%= f.input :pnd %>
      <%= f.input :ams %>
      <%= f.input :cerbere, :as => :radio %>
      <%= f.input :comment %>
      <%= f.input :info, :input_html => { :size => "40x3" } %>
    </tbody>
  </table>
<% end %>
