<%= simple_form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="show_item">
    <thead>
      <tr><th colspan="2"><%= @application.nom.present? ? @application.nom : "Nouvelle application" %></th></tr>
    </thead>
    <tbody>
      <%= f.input :nom %>
      <%= f.input :criticite %>
      <%= f.input :info %>
      <%= f.input :iaw %>
      <%= f.input :pe %>
      <%= f.input :moa %>
      <%= f.input :amoa %>
      <%= f.input :moa_note %>
      <%= f.input :contact %>
      <%= f.input :pnd %>
      <%= f.input :ams %>
      <%= f.input :cerbere %>
      <%= f.input :fiche %>
    </tbody>
  </table>

  <p class="actions">
    <%= f.button :submit %>
    ou <%= link_to "Retourner à la liste", applications_path %> 
    <% unless @application.new_record? %>
      | <%= link_to "Voir", @application %>
    <% end %>
  </p>
<% end %>
