<%= simple_form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <%= f.input :appli_nom %>
    <%= f.input :appli_criticite %>
    <%= f.input :appli_info %>
    <%= f.input :appli_iaw %>
    <%= f.input :appli_pe %>
    <%= f.input :appli_moa %>
    <%= f.input :appli_amoa %>
    <%= f.input :appli_moa_note %>
    <%= f.input :appli_contact %>
    <%= f.input :appli_pnd %>
    <%= f.input :appli_ams %>
    <%= f.input :appli_cerbere %>
    <%= f.input :appli_fiche %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
