<%= simple_form_for(@application) do |f| %>

  <%= action_links do %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= t(:or) %> <%= link_to t(:back_to_the_list), applications_path %>
    <% unless @application.new_record? %>
      | <%= link_to t(:show), @application %>
    <% end %>
  <% end %>

  <div id="application_general" class="span6">
  <table class="inputs full">
    <tbody>
      <%= tabular_errors @application %>
      <%= f.input :name, required: true, wrapper_class: "th", input_html: { style: "width:9em;" } %>
      <%= f.input :description, input_html: { size: "28x6" } %>
      <%= f.input :identifier %>
      <tr class="input select optional">
        <td class="label">
          <label class="select optional" for="application_contacts"><%= t(:contacts) %></label>
        </td>
        <td class="multiselect">
          <% Role.all.each do |role| %>
            <div class="control-label" style="margin-top:6px;"><%= role.name %></div>
            <%= text_field_tag "application[contact_ids_with_role][#{role.id}]", nil, class: "token-input-select",
                               data: { update_url: autocomplete_contacts_path,
                                       pre_populate: @application.contacts_with_role(role).map{|c| {id: c.id, name: c.full_name} } } %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>


  <div id="application_instances" class="span6">
  <table class="inputs full">
    <thead>
      <tr>
        <th colspan="2"><%= t(:application_instances) %></th>
      </tr>
    </thead>
    <tbody>
      <tr class="input string optional">
        <td class="content instance-forms" colspan="2">
          <% f.object.application_instances << ApplicationInstance.new if f.object.application_instances.none? %>
          <%= f.simple_fields_for :application_instances, f.object.sorted_application_instances do |instance_form| %>
            <%= render 'application_instance_fields', f: instance_form %>
          <% end %>
          <p class="add-field">
          <%= link_to_add_fields image_tag("new_button.png", size: "14x15", class:"inline")+t(:add_an_application_instance).downcase, f,
                                 :application_instances, klass: ApplicationInstance %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

<% end %>
