<%= simple_form_for(@application) do |f| %>

  <%= action_links do %>
    <%= f.button :submit %>
    ou <%= link_to "Retourner à la liste", applications_path %>
    <% unless @application.new_record? %>
      | <%= link_to "Voir", @application %>
    <% end %>
  <% end %>

  <div id="application_general" class="grid_5">
  <table class="inputs full">
    <tbody>
      <%= tabular_errors @application %>
      <%= f.input :name, :required => true, :wrapper_class => "th", :input_html => { :style => "width:9em;" } %>
      <tr class="wrapper application_info">
        <td colspan="2"><label for="application[info]" class="input">Description :</label><br/>
          <%= f.text_area :info, :class => "ninety", :style => "height:5em;" %></td>
      </tr>
      <%= f.input :identifier %>
      <%= f.input :criticity, :as => :radio, :collection => 1..3 %>
      <%= f.input :iaw %>
      <%= f.input :ams %>
      <%= f.input :comment %>
    </tbody>
  </table>
  </div>


  <div id="application_instances" class="grid_7">
  <table class="inputs full">
    <thead>
      <tr>
        <th colspan="2"><%= t(:application_instances) %></th>
      </tr>
    </thead>
    <tbody>
      <tr class="input string optional">
        <td class="content" colspan="2">
          <% f.object.application_instances.build if f.object.application_instances.size == 0 %>
          <%= f.simple_fields_for :application_instances, f.object.sorted_application_instances do |instance_form| %>
            <%= render 'application_instance_fields', :f => instance_form %>
          <% end %>
          <p class="add-field">
            <%= link_to_add_fields image_tag("new_button.png", :class=>"inline")+" ajouter une instance", f, :application_instances %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

<% end %>
