<%= action_links do %>
  <%= link_to "Ajouter une application", new_application_path %> |
  <%= link_to "Export PDF", applications_path(params.merge(:format => "pdf")) %>
<% end %>



<table class="pretty ninety center">
  <tr>
    <th>Liens</th>
    <th>Cerbere</th>
    <%= sortable_th "criticity" %>
    <%= sortable_th "name" %>
    <th>Description</th>
    <th>I2 Ader Web</th>
    <th>ACAI Messagerie Spécifique</th>
    <th colspan="2" class="actions">Actions</th>
  </tr>
  <% for application in @applications %>
    <tr>
      <td class="center"><%= links_for application %></td>
      <td class="center"><%= cerbere_image(application.cerbere) %></td>
      <td class="center"><%= application.criticity %></td>
      <td><%= link_to application.name, application %></td>
      <td><%= application.info %></td>
      <td class="center"><%= application.iaw %></td>
      <td class="center"><%= application.ams %></td>
      <td class="actions"><%= link_to "Editer", edit_application_path(application) %></td>
      <td class="actions"><%= link_to "Supprimer", application, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
