<tr class="fix-on-scroll">
  <th class="hide-when-print" style="width:3em">Liens</th>
  <%= sortable_th "name", nil, :style => "width:12em" %>
  <th>Description</th>
  <th style="width:3em">I2 Ader Web</th>
  <th style="width:3em">ACAI Messagerie Spécifique</th>
</tr>
<% for application in @applications %>
  <tr class="has-opaques">
    <td class="center hide-when-print"><%= links_for application %></td>
    <td>
      <div class="contextual opaque">
        <%= link_to_delete application %>
      </div>
      <%= link_to application.name, application %>
    </td>
    <td><%= application.info %></td>
    <td class="center"><%= application.iaw %></td>
    <td class="center"><%= application.ams %></td>
  </tr>
<% end %>
