<tr class="fix-on-scroll">
  <%= sortable_th "name", nil, style: "width:15em" %>
  <th><%= t(:description) %></th>
</tr>
<% for application in @applications %>
  <% cache ["list", application] do %>
    <tr class="has-opaques">
      <td>
        <div class="contextual opaque">
          <%= links_for application %>
          <%= link_to_delete application %>
        </div>
        <%= link_to application.name, application %>
      </td>
      <td><%= application.description %></td>
    </tr>
  <% end %>
<% end %>
