<% title "Applications" %>

<table>
  <tr>
    <th>Appli Nom</th>
    <th>Appli Criticite</th>
    <th>Appli Info</th>
    <th>Appli Iaw</th>
    <th>Appli Pe</th>
    <th>Appli Moa</th>
    <th>Appli Amoa</th>
    <th>Appli Moa Note</th>
    <th>Appli Contact</th>
    <th>Appli Pnd</th>
    <th>Appli Ams</th>
    <th>Appli Cerbere</th>
    <th>Appli Fiche</th>
  </tr>
  <% for application in @applications %>
    <tr>
      <td><%= application.nom %></td>
      <td><%= application.criticite %></td>
      <td><%= application.info %></td>
      <td><%= application.iaw %></td>
      <td><%= application.pe %></td>
      <td><%= application.moa %></td>
      <td><%= application.amoa %></td>
      <td><%= application.moa_note %></td>
      <td><%= application.contact %></td>
      <td><%= application.pnd %></td>
      <td><%= application.ams %></td>
      <td><%= application.cerbere %></td>
      <td><%= application.fiche %></td>
      <td><%= link_to "Show", application %></td>
      <td><%= link_to "Edit", edit_application_path(application) %></td>
      <td><%= link_to "Destroy", application, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Application", new_application_path %></p>
