<% title t(:applications) %>

<div id="applications" class="span12 items_list">

<%= action_links do %>
  <div class="contextual">
    <%= link_to image_tag("file_extension_pdf.png", size: "16x16"), applications_path(params.merge(format: "pdf")) %>
  </div>
  <%= link_to t(:add_an_application), new_application_path %>
<% end %>

<table class="pretty list center">
  <%= form_tag applications_path(params), id: "filters", method: :get do -%>
    <%= hidden_sort_fields %>
    <% (controller.scopes_configuration || {}).keys.each do |scope| %>
      <%= hidden_field_tag scope, params[scope] %>
    <% end %>
  <tr class="filters fixed-size">
    <td><%= text_field_tag "search", params[:search] %></td>
    <td><span id="applications_counter" class="counter"><%= @applications.count %></span></td>
  </tr>
  <% end %>

  <tbody id="applications_list" class="long-list">
    <%= render 'list' %>
  </tbody>
</table>

<%= will_paginate @applications, inner_window: 2, outer_window: 1 %>

</div>
