<% title "Application" %>

<%= show_for @application do |a| %>
  <%= a.attribute :nom %>
  <%= a.attribute :criticite %>
  <%= a.attribute :info %>
  <%= a.attribute :info %>
  <%= a.attribute :iaw %>
  <%= a.attribute :pe %>
  <%= a.attribute :moa %>
  <%= a.attribute :amoa %>
  <%= a.attribute :moa_note %>
  <%= a.attribute :contact %>
  <%= a.attribute :pnd %>
  <%= a.attribute :ams %>
  <%= a.attribute :cerbere %>
  <%= a.attribute :fiche %>
<% end %>
<p>
  <%= link_to "Edit", edit_application_path(@application) %> |
  <%= link_to "Destroy", @application, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", applications_path %>
</p>
