<% title "Application" %>

<p class="actions">
  <%= link_to "Editer", edit_application_path(@application) %> |
  <%= link_to "Supprimer", @application, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Retourner à la liste", applications_path %>
</p>

<table class="show_item">
  <thead>
    <tr>
      <th colspan="2"><%= @application.nom %></th>
    </tr>
  </thead>
  <%= show_for @application do |a| %>
    <%= a.attribute :criticite %>
    <%= a.attribute :iaw %>
    <%= a.attribute :pe %>
    <%= a.attribute :moa %>
    <%= a.attribute :amoa %>
    <%= a.attribute :moa_note %>
    <%= a.attribute :contact %>
    <%= a.attribute :pnd %>
    <%= a.attribute :ams %>
    <%= a.attribute :cerbere do %>
      <%= cerbere_image(@application.cerbere, true) %>
    <% end %>
    <%= a.attribute :fiche %>
    <tr class="wrapper application_info">
      <td colspan="2">
        Information:<br />
        <%= @application.info %>
      </td>
    </tr>
    <tr class="wrapper machine_machines">
      <td colspan="2">
        Machines impliquées:<br />
        <% if @application.machines.any? %>
          <ul>
          <% @application.machines.each do |machine| %>
            <li><%= link_to machine.nom, machine %></li>
          <% end %>
          </ul>
        <% else %>
          <p>Aucune machine impliquée.</p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
