<% title "Application" %>

<div class="grid_12 center">

<%= action_links do %>
  <%= link_to "Editer", edit_application_path(@application) %> |
  <%= link_to "Supprimer", @application, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Retourner à la liste", applications_path %>
<% end %>

</div>

<div id="application_general" class="grid_4">
<table class="show_item full">
  <thead>
    <tr>
      <th colspan="2" class="application_name">
        <div class="contextual">
          <%= links_for @application %>
        </div>
        <%= @application.name %>
      </th>
    </tr>
  </thead>
  <%= show_for @application do |a| %>
    <tr class="wrapper application_info">
      <td colspan="2">
        <label>Information :</label><br />
        <%= @application.info.capitalize %>
      </td>
    </tr>
    <%= a.attribute :criticity %>
    <%= a.attribute :iaw %>
    <%= a.association :application_instances %>
    <%= a.attribute :ams %>
    <%= a.attribute :cerbere do %>
      <%= cerbere_image(@application.cerbere, true) %>
    <% end %>
    <%= a.attribute :comment %>
  <% end %>
</table>
</div>

<div class="grid_4">
<table class="show_item full">
  <thead>
    <tr>
      <th colspan="2">
        Machines impliquées
      </th>
    </tr>
  </thead>
  <tbody class="show_for">
    <tr class="wrapper application_machines">
      <td colspan="2">
      <% if @application.machines.any? %>
        <ul>
        <% @application.machines.each do |machine| %>
          <li><%= link_to machine.name, machine %></li>
        <% end %>
        </ul>
      <% else %>
        <p>Aucune machine impliquée.</p>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>
</div>
