<% title "Application" %>

<% show_for @application do |a| %>
  <%= a.attribute :appli_nom %>
  <%= a.attribute :appli_criticite %>
  <%= a.attribute :appli_info %>
  <%= a.attribute :appli_info %>
  <%= a.attribute :appli_iaw %>
  <%= a.attribute :appli_pe %>
  <%= a.attribute :appli_moa %>
  <%= a.attribute :appli_amoa %>
  <%= a.attribute :appli_moa_note %>
  <%= a.attribute :appli_contact %>
  <%= a.attribute :appli_pnd %>
  <%= a.attribute :appli_ams %>
  <%= a.attribute :appli_cerbere %>
  <%= a.attribute :appli_fiche %>
<% end %>
<p>
  <%= link_to "Edit", edit_application_path(@application) %> |
  <%= link_to "Destroy", @application, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", applications_path %>
</p>
