<% title "Application" %>

<div class="grid_12 center">

<%= action_links do %>
  <%= link_to "Editer", edit_application_path(@application) %> |
  <%= link_to "Supprimer", @application, :confirm => t(:text_are_you_sure), :method => :delete %> |
  <%= link_to "Retourner à la liste", applications_path %>
<% end %>

</div>

<div id="application_general" class="grid_3">
<table class="show_item full">
  <thead>
    <tr>
      <th colspan="2" class="application_name">
        <div class="contextual">
          <%= links_for @application %>
        </div>
        <%= @application.name %>
      </th>
    </tr>
  </thead>
  <%= show_for @application do |a| %>
    <tr class="wrapper application_info">
      <td colspan="2">
        <%= @application.info.capitalize %>
      </td>
    </tr>
    <%= a.attribute :criticity %>
    <%= a.attribute :iaw %>
    <%= a.attribute :ams %>
    <%= a.attribute :comment %>
  <% end %>
</table>
</div>

<div class="grid_5">
<table class="show_item full">
  <thead>
    <tr>
      <th colspan="2"><%= t(:application_instances) %></th>
    </tr>
  </thead>
  <tbody class="show_for">
    <tr class="wrapper application_servers">
      <td colspan="2">
        <%= render :partial => 'instance', :collection => @application.sorted_application_instances.compact %>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div class="grid_4">
<table class="show_item full">
  <tr>
    <th>Liens</th>
  </tr>
  <tr class="wrapper application_links">
    <td>
      <% docs = @application.dokuwiki_pages %>
      <strong>Dokuwiki</strong>
      <ul class="details">
    <% if docs.any? %>
      <% docs.each do |doc| %>
        <li class="application_doc"><%= link_to_doc doc %></li>
      <% end %>
    <% else %>
      <li>Aucune page de doc trouvée.</li>
    <% end %>
      </ul>
    </td>
  </tr>
</table>
</div>
