<% title link_to(t(:applications), applications_path) + " &rsaquo; ".html_safe + @application.name %>

<div class="span8">
  <div id="application-card" class="item-card">
    <div class="item-title">
      <div class="contextual">
        <%= links_for @application %>
      </div>
      <%= @application.title %>
    </div>

    <div class="item-informations server-informations">
      <div class="action-links">
        <%= link_to_edit edit_application_path(@application) %>
        <%= link_to_delete @application %>
      </div>
      <%= @application.description_if_present %>

      <div class="item-details">
        <%= details_box :application_instances, style: "width:60%" do %>
          <%= render partial: 'instance', collection: @application.sorted_application_instances.compact %>
        <% end %>

        <%= details_box :contacts, style: "width:36%" do %>
          <% Role.all.each do |role| %>
            <% contacts = @application.contacts_with_role(role) %>
            <% next if contacts.blank? %>
            <span class="label"><%= role.name %></span>
            <ol class="contacts">
              <% contacts.each do |contact| %>
                <li><%= ContactDecorator.new(contact).to_html(:long_form) %></li>
              <% end %>
            </ol>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="span4 show">
  <% docs = @application.dokuwiki_pages %>
  <div class="related-ci related-documentation-pages">
    <div class="informations">
      <h3>Dokuwiki</h3>
      <% if docs.any? %>
        <ul class="details">
          <% docs.each do |doc| %>
            <li class="application_doc"><%= link_to_doc doc %></li>
          <% end %>
        </ul>
      <% else %>
        <%= t(:no_documentation_page_found) %>.
      <% end %>
    </div>
  </div>
</div>
