  <tr class="fix-on-scroll">
    <th class="left"><%= t(:server) %></th>
    <th class="left"><%= t(:nss_owner) %></th>
    <th class="left"><%= t(:name) %></th>
    <th><%= t(:nss_guid) %></th>
    <th class="right"><%= t(:size_in_Go) %></th>
  </tr>
  <% @nss_disks.each do |nss_disk| %>
  <tr class="nss-<%= nss_disk.falconstor_type.downcase %>">
    <td><%= link_to nss_disk.server, nss_disk.server %></td>
    <td><%= nss_disk.owner %></td>
    <td><%= nss_disk.name %></td>
    <td class="center"><pre><%= nss_disk.guid %></pre></td>
    <td class="right"><%= display_size(nss_disk.size) %></td>
  </tr>
  <% end %>
