<% title "Virtualisation NSS" %>

<div id="nss_disks" class="items_list grid_12">

<%= render "nss_volumes/submenu" %>  

<table class="pretty list">
  <%= form_tag nss_disks_path(params), :id => "filters", :method => :get do -%>
  <tr class="filters fixed-size">
    <td class="left" style="width:6em"><%= select_tag "by_server", options_for_select(@servers.map{|s| [s.name, s.id]}, params[:by_server]), :include_blank => true %></td>
    <td class="left" style="width:6em"><%= select_tag "by_owner", options_for_select(NssDisk.select("distinct(owner)").map(&:owner).sort.map{|o| [o, o]}, params[:by_owner]), :include_blank => true %></td>
    <td><%= text_field_tag "by_name", params[:by_name] %></td>
    <td style="width:8em;"><%= text_field_tag "by_guid", params[:by_guid] %></td>
    <td>
      <span id="nss_disks_counter" class="counter"><%= @nss_disks.count %></span>
      <span id="nss_disks_size_counter" class="counter"><%= pretty_size(@nss_disks.map(&:size).sum).sub(/b(ytes)?$/,"o") %></span>
    </td>
  </tr>
  <% end %>
  <tbody id="nss_disks_list" class="long-list">
    <%= render 'list' %>
  </tbody>
</table>

</div>
