<tr class="fix-on-scroll">
  <th class="left"><%= t(:server) %></th>
  <th><%= t(:type) %></th>
  <th><%= t(:catalog) %></th>
  <th class="left"><%= t(:hierarchy) %></th>
  <th class="left"><%= t(:exceptions) %></th>
</tr>
<% @backup_jobs.each do |backup_job| %>
<tr class="has-opaques">
  <td><%= link_to backup_job.server, backup_job.server %></td>
  <td class="center"><%= backup_job.client_type %></td>
  <td class="center"><%= backup_job.catalog %></td>
  <td class="hierarchy"><%= backup_job.hierarchy %></td>
  <td class="exclusion_patterns"><%= backup_job.exclusion_patterns %></td>
</tr>
<% end %>
