<% title "Sauvegardes" %>

<div id="backup_jobs" class="items_list grid_12">

<table class="pretty list">
  <%= form_tag backup_jobs_path(params), :id => "filters", :method => :get do -%>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
  <tr class="filters fixed-size">
    <td style="width:8em;"><%= select_tag "by_server", options_for_select(@servers.map{|s| [s.name, s.id]}, params[:by_server]), :include_blank => true %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <tbody id="backup_jobs_list" class="long-list">
    <%= render 'list' %>
  </tbody>
</table>

<div class="clear"></div>

<% if @not_backuped.any? %>
  <h2>Non sauvegardés (<%= @not_backuped.count %>)</h2>
  <ul class="comparison details">
    <% @not_backuped.each do |server| %>
      <li><%= link_to server, server %></li>
    <% end %>
  </ul>
<% end %>

</div>
