<% title t(:backups) %>

<script type="text/javascript">
  $(function() {
    Cartoque.highlightNotBackupedServers("<%= params[:by_server] %>");
  });
</script>

<div id="backup_jobs" class="items_list span12">
  
<div id="not-backuped">
  <div class="contextual">
    <%= link_to t(:manage_exceptions), backup_exceptions_path %>
  </div>
  <h2><%= t(:not_backuped) %> (<%= @not_backuped_count %>)</h2>
  <% if @not_backuped_count > 0 %>
  <div class="servers">
    <%= render partial: 'not_backuped', locals: { server_type: t(:physical), servers: @physical_not_backuped } %>
    <%= render partial: 'not_backuped', locals: { server_type: t(:virtual), servers: @virtual_not_backuped } %>
  </div>
  <% end %>
</div>

<div class="clear"></div>

<table class="pretty list">
  <%= form_tag backup_jobs_path(params), id: "filters", method: :get do -%>
    <%= hidden_sort_fields %>
  <tr class="filters fixed-size">
    <td style="width:8em;"><%= text_field_tag "by_server", params[:by_server] %></td>
    <td><%= select_tag "by_client_type", options_for_select(BackupJob.all.distinct(:client_type).reject(&:blank?).sort, params[:by_client_type]), include_blank: true %></td>
    <td></td>
    <td></td>
    <td><span id="backup_jobs_counter" class="counter"><%= @backup_jobs.map(&:server_id).uniq.count %></span></td>
  </tr>
  <% end %>
  <tbody id="backup_jobs_list" class="long-list">
    <%= render 'list' %>
  </tbody>
</table>

</div>
