<% title "Sauvegardes" %>

<div id="backup_jobs" class="items_list grid_12">
  
<% if @not_backuped.any? %>
<div id="not-backuped">
  <div class="contextual">
    <%= link_to "Gérer les exceptions", backup_exceptions_path %>
  </div>
  <h2>Non sauvegardés (<%= @not_backuped.count %>)</h2>
  <div class="servers">
    <% virtual, physical = @not_backuped.partition{|s| s.virtual?} %>
    <p>
      <strong>Physique:</strong>
      <%= physical.present? ? physical.map{|server| link_to server, server}.join(", ").html_safe : "aucun" %>
    </p>
    <p>
      <strong>Virtuel:</strong>
      <%= virtual.present? ? virtual.map{|server| link_to server, server}.join(", ").html_safe : "aucun" %>
    </p>
  </div>
</div>
<% end %>

<div class="clear"></div>

<table class="pretty list">
  <%= form_tag backup_jobs_path(params), :id => "filters", :method => :get do -%>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
  <tr class="filters fixed-size">
    <td style="width:8em;"><%= select_tag "by_server", options_for_select(@servers.map{|s| [s.name, s.id]}, params[:by_server]), :include_blank => true %></td>
    <td></td>
    <td></td>
    <td></td>
    <td><span id="backup_jobs_counter" class="counter"><%= @servers.count %></span></td>
  </tr>
  <% end %>
  <tbody id="backup_jobs_list" class="long-list">
    <%= render 'list' %>
  </tbody>
</table>

</div>
