<%= form_tag servers_path(params), id: "filters", method: :get do -%>
  <%= hidden_sort_fields %>
  <% (controller.scopes_configuration || {}).keys.each do |scope| %>
    <%= hidden_field_tag scope, params[scope] %>
  <% end %>
<tr class="filters fixed-size">
  <td><%= text_field_tag "search", params[:search] %></td>
  <td></td>
  <% @os = ancestry_options(OperatingSystem.scoped.arrange(order: [:name, :asc])){|i| "#{'-'*i.depth} #{i.name}"} %>
  <td><%= select_tag "by_system", options_for_select([["",""]] + @os, params[:by_system]).html_safe -%></td>
  <% @archs = MongoServer.all.distinct("arch").compact.sort %>
  <td><%= select_tag "by_arch", options_for_select([["",""]] + @archs, params[:by_arch]).html_safe -%></td>
  <td><%= select_tag "by_virtual", options_for_select([["",""], [t(:word_yes), "1"], [t(:word_no), 0]], params[:by_virtual]).html_safe -%></td>
  <td><%= select_tag "by_location", options_for_location_filter(params[:by_location]) -%></td>
  <td><span id="servers_counter" class="counter"><%= @servers.count %></span></td>
</tr>
<% end -%>
