<%= form_tag servers_path(params), :id => "filters", :method => :get do -%>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <% (controller.scopes_configuration || {}).keys.each do |scope| %>
    <%= hidden_field_tag scope, params[scope] %>
  <% end %>
<tr class="filters fixed-size">
  <td><%= text_field_tag "search", params[:search], :size => 12 %></td>
  <td><%= select_tag "by_location", options_for_location_filter(params[:by_location]) -%></td>
  <td></td>
  <td><%= text_field_tag "by_serial_number", params[:by_serial_number], :size => 12 %></td>
  <td><%= select_tag "by_mainteneur", options_for_select([["",""]] + Mainteneur.all.map{|r| [r.name,r.id]},params[:by_mainteneur]).html_safe -%></td>
  <td></td>
  <td><span id="servers_counter" class="counter"><%= @servers.count %></span></td>
</tr>
<% end -%>
