<tr class="fix-on-scroll">
  <%= sortable_th "name", nil, style: "width:10em" %>
  <th style="width:8em"><%= t(:localization) %></th>
  <%= sortable_th "manufacturer,model", t(:fullmodel), style: "width:10em" %>
  <th style="width:10em"><%= t(:serial_number) %></th>
  <th><%= t(:maintainer) %> - <%= t(:contract_type) %></th>
  <%= sortable_th "delivered_on", nil, style: "width:8em" %>
  <%= sortable_th "maintained_until", nil, style: "width:8em" %>
</tr>
<% for server in @servers %>
<tr>
  <td><%= link_to server.name, server %></td>
  <td><%= link_to_rack server.physical_rack %></td>
  <td><%= server.fullmodel %></td>
  <td class="center"><%= server.serial_number %></td>
  <td>
  <% if server.maintainer.present? %>
    <%= render_maintainer(server, server.maintainer) %>
  <% end %>
  </td>
  <td class="center"><%= l(server.delivered_on) if server.delivered_on? %></td>
  <td class="center"><%= server.maintenance_limit %></td>
</tr>
<% end %>
