<tr class="fix-on-scroll">
  <%= sortable_th "name", nil, style: "min-width:10em" %>
  <%= sortable_th "ipaddress", nil, style: "width:10em" %>
  <th style="width:12em"><%= t(:operating_system) %></th>
  <th style="width:2em"><%= t(:arch_short) %></th>
  <th style="width:2em"><%= t(:virtual) %></th>
  <th style="width:8em"><%= t(:localization) %></th>
  <%= sortable_th "manufacturer,model", t(:fullmodel), style: "min-width:12em" %>
</tr>
<% for server in @servers %>
  <% cache ["list-normal", server] do %>
    <tr class="has-opaques">
      <td>
        <div class="contextual opaque">
          <%= link_to_delete server %>
        </div>
        <%= link_to server.name, server %>
      </td>
      <td class="center"><%= server.ipaddress %></td>
      <td class="center"><%= server.operating_system_name %></td>
      <td class="center"><%= server.arch %></td>
      <td class="center"><% if server.virtual? %><span class="virtual-server">V</span><% end %></td>
      <td class="center"><%= link_to_rack server.physical_rack_full_name, server.physical_rack_id %></td>
      <td><%= server.fullmodel %></td>
    </tr>
  <% end %>
<% end %>
