<% tomcats = Tomcat.find_for_server(@server.name) %>
<% tomcats.delete_if{|t| t[:tomcat].blank?} %>
<% tomcats.sort_by{|t| t[:tomcat].split("_").last.to_s}.each do |tomcat| %>
<div class="related-ci related-tomcats">
  <%= link_to tomcats_path(:by_server => @server.name) do %>
  <div class="informations">
    <div class="contextual tinier"><%= "#{tomcat[:java_version]} #{tomcat[:java_xms]}/#{tomcat[:java_xmx]}" %></div>
    <h5><%= tomcat[:tomcat] %></h5>
    <div class="details"><%= tomcat[:dns] %></div>
  </div>
  <% end %>
</div>
<% end %>
<!-- Total Xmx: <%= tomcats.map{|t| t[:java_xmx].to_i}.sum %>-->
