<% @server.tomcats.delete_if do |t|
     t[:tomcat].blank?
   end.sort_by do |t|
     t[:tomcat].split("_").last.to_s
   end.each do |tomcat| %>
<div class="related-ci related-tomcats">
  <%= link_to tomcats_path(:by_server => @server.name) do %>
  <div class="informations">
    <div class="contextual tinier"><%= "#{tomcat[:java_version]} #{tomcat[:java_xms]}/#{tomcat[:java_xmx]}" %></div>
    <h3><%= tomcat[:tomcat] %></h3>
    <div class="details"><%= tomcat[:dns] %></div>
  </div>
  <% end %>
</div>
<% end %>
<!-- Total Xmx: <%= @server.tomcats.map{|t| t[:java_xmx].to_i}.sum %>-->
