<% @server.application_instances.each do |instance| %>
<div class="related-ci related-application-instances">
  <%= link_to instance.application do %>
  <div class="informations">
    <div class="contextual tiny"><%= instance.name %></div>
    <h5><%= instance.application %></h5>
    <div class="details">
      <%= pluralize(instance.servers.count, "serveur") %> /
      <%= pluralize(instance.application_urls.count, "URL") %>
    </div>
  </div>
  <% end %>
</div>
<% end %>
