<% @server.application_instances.each do |instance| %>
<div class="related-ci related-application-instances">
  <%= link_to instance.application do %>
  <div class="informations">
    <div class="contextual tiny"><%= instance.name %></div>
    <h3><%= instance.application %></h3>
    <div class="details">
      <%= pluralize(instance.servers.count, t(:server).downcase) %> /
      <%= pluralize(instance.application_urls.count, t(:url)) %>
    </div>
  </div>
  <% end %>
</div>
<% end %>
