<p class="fields subform">
  <label class="required"><%= t(:name) %><abbr>*</abbr></label><%= f.input_field :name %>
  <%= link_to_remove_fields image_tag("delete.png", size: "16x16"), f %>
  <br />
  <label><%= t(:serial_number) %></label><%= f.input_field :serial_number %>
</p>
