<% title "#{t(:server)} #{@server.name.upcase}" %>

<div class="span12">
<%= action_links do %>
  <%= link_to t(:edit), edit_server_path(@server) %> |
  <%= link_to t(:delete), @server, confirm: t(:text_are_you_sure), method: :delete %> |
  <%= link_to t(:back_to_the_list), servers_path %>
<% end %>
</div>

<div class="clear"></div>

<div id="server_general" class="span3 show">
<%= @server.badges %>
<h2><%= t(:main_informations) %></h2>
<table class="show_item full">
  <%= show_for @server do |s| %>
    <% if @server.description.present? %>
    <tr class="wrapper server_description">
      <td colspan="2">
        <span class="label"><%= t(:description) %></span><br />
        <div class="description"><%= @server.description.capitalize %></div>
      </td>
    </tr>
    <% end %>
    <%= s.association :hypervisor do
          link_to @server.hypervisor, @server.hypervisor
        end if @server.hypervisor.present? %>
    <%= s.attribute :operating_system %>
    <%= s.attribute :arch if @server.arch.present? %>
    <%= s.association :ipaddresses %>
    <%= render_physical_links_association @server if @server.physical_links.any? %>
    <%= render_connected_links_association @server if @server.connected_links.any? %>
  <% end %>
</table>

<% unless @server.virtual? %>
<h2><%= t(:maintenance) %></h2>
<table class="show_item full">
  <%= show_for @server do |s| %>
    <%= s.association :maintainer do
          link_to_if @server.maintainer.present?, @server.maintainer, @server.maintainer
        end %>
    <%= s.attribute :delivered_on %>
    <%= s.attribute :maintained_until %>
    <%= s.attribute :contract_type %>
    <%= s.attribute :serial_number %>
  <% end %>
  <% end %>
</table>
</div>

<div id="server_hardware" class="span3 show">
<h2><%= @server.virtual? ? t(:resources) : t(:hardware) %></h2>
<table class="show_item full">
  <%= show_for @server do |s| %>
    <% unless @server.virtual? %>
      <%= s.association(:physical_rack) do
            link_to @server.physical_rack, servers_path(by_location: "rack-#{@server.physical_rack.id}") if @server.physical_rack.present?
          end %>
    <% end %>
    <%= s.attribute :fullmodel unless @server.virtual? %>
    <%= s.attribute :cpu %>
    <%= s.attribute :memory %>
    <%= s.attribute :disks %>
    <%= s.attribute :media_drive unless @server.virtual? %>
    <%= s.attribute :nb_rj45 %>
    <%= s.attribute :nb_fc %>
    <%= s.attribute :nb_iscsi %>
    <%= s.attribute :has_drac %>
  <% end %>
</table>
</div>

<div id="server-technical-relations" class="span3 show">
  <h2><%= t(:components) %></h2>
  <%= render 'related_vms' if @server.virtual_machines.any? %>
  <%= render 'related_licenses' if @server.licenses.any? %>
  <%= render 'related_tomcats' if @server.tomcats.any? %>
  <%= render 'related_network_filesystems' if @server.network_filesystems.any? %>
  <%= render 'related_exported_disks' if @server.exported_disks.any? %>
  <%= render 'related_cronjobs' if @server.cronjobs.any? %>
</div>

<div id="server-application-relations" class="span3 show">
  <h2><%= t(:services) %></h2>
  <%= render 'related_application_instances' if @server.application_instances.any? %>
</div>
