<% title link_to(t(:servers), servers_path) + " &rsaquo; ".html_safe + @server.name %>

<div class="span6">
  <div id="server-card" class="item-card">
    <div class="item-title">
      <%= @server.badges %>
      <%= @server.title %>
      <%= @server.location %>
      <%= @server.system %>
    </div>

    <div class="item-informations server-informations">
      <div class="action-links">
        <%= link_to_edit edit_server_path(@server) %>
        <%= link_to_delete @server %>
      </div>
      <%= @server.description_if_present %>
      <div class="item-details server-hardware">
        <%= details_box :cpu, style: "width:32%" do %>
          <%= @server.cpu %>
        <% end %>
        <%= details_box :memory, style: "width:28%" do %>
          <%= @server.memory %>
        <% end %>
        <%= details_box :disks, style: "width:28%" do %>
          <%= @server.disks %>
        <% end %>
      </div>

      <div class="item-details server-configuration">
        <div style="width:32%;">
          <span class=label><%= t(:components) %></span>
          <ul class="collection">
            <%= content_tag(:li, "#{t(:media_drive)} : #{@server.media_drive.name}") unless @server.virtual? || @server.media_drive.blank? %>
            <%= content_tag(:li, "#{t(:nb_rj45)} : #{@server.nb_rj45.to_i}") %>
            <%= content_tag(:li, "#{t(:nb_fc)} : #{@server.nb_fc.to_i}") %>
            <%= content_tag(:li, "#{t(:nb_iscsi)} : #{@server.nb_iscsi.to_i}") %>
            <%= content_tag(:li, t(:has_drac)) if @server.has_drac %>
          </ul>
        </div>
        <div style="width:28%;">
          <span class=label><%= t(:networking) %></span>
          <ul class=collection>
          <% @server.ipaddresses.each do |ip| %>
            <li><%= ip %></li>
          <% end %>
          </ul>
        </div>
        <div style="width:28%;">
          <%= render_physical_links_association @server if @server.physical_links.any? %>
          <%= render_connected_links_association @server if @server.connected_links.any? %>
        </div>
      </div>
    </div>
  </div>

  <% unless @server.virtual? %>
  <div class="server-maintenance">
    <div class="item-details">
      <span class=label><%= t(:maintenance) %></span>
      <table class="details">
        <tr>
          <th style="width:35%"><%= t(:contract_type) %></th>
          <th><%= t(:serial_number) %></th>
          <th><%= t(:support_code) %></th>
          <th><%= t(:maintainer) %></th>
        </tr>
        <tr>
          <td><%= @server.maintenance_contract %></td>
          <td><%= @server.serial_number %></td>
          <td><%= @server.support_code %></td>
          <td><%= link_to_if @server.maintainer.present?, @server.maintainer, @server.maintainer %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>

  <% if @server.server_extensions.any? %>
  <div class="server-extensions">
    <div class="item-details">
      <span class=label><%= t(:server_extensions) %></span>
      <table class="details">
        <tr>
          <th style="width:40%"><%= t(:name) %></th>
          <th><%= t(:serial_number) %></th>
        </tr>
        <% @server.server_extensions.each do |ext| %>
          <tr>
            <td><%= ext.name %></td>
            <td><%= ext.serial_number %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <% end %>


</div>

<div id="server-technical-relations" class="span3 show">
  <%= render 'related_vms' if @server.virtual_machines.any? %>
  <%= render 'related_licenses' if @server.licenses.any? %>
  <%= render 'related_tomcats' if @server.tomcats.any? %>
  <%= render 'related_network_filesystems' if @server.network_filesystems.any? %>
  <%= render 'related_exported_disks' if @server.exported_disks.any? %>
  <%= render 'related_cronjobs' if @server.cronjobs.any? %>
</div>

<div id="server-application-relations" class="span3 show">
  <%= render 'related_application_instances' if @server.application_instances.any? %>
</div>
