<% title "Serveur #{@server.name.upcase}" %>

<div class="grid_12">
<%= action_links do %>
  <%= link_to 'Editer', edit_server_path(@server) %> |
  <%= link_to 'Supprimer', @server, :confirm => t(:text_are_you_sure), :method => :delete %> |
  <%= link_to 'Retourner à la liste', servers_path %>
<% end %>
</div>

<div class="clear"></div>

<div id="server_general" class="grid_3 show">
<%= content_tag(:div, "V", :class => "contextual virtual-server") if @server.virtual? %>
<%= content_tag(:div, image_tag("router.png", :title => t(:network_device), :size => "16x16"),
                :class => "contextual network-device") if @server.network_device? %>
<h2>Général</h2>
<table class="show_item full">
  <%= show_for @server do |s| %>
    <% if @server.description.present? %>
    <tr class="wrapper server_description">
      <td colspan="2">
        <span class="label">Description</span><br />
        <div class="description"><%= @server.description.capitalize %></div>
      </td>
    </tr>
    <% end %>
    <%= s.association :hypervisor do
          link_to @server.hypervisor, @server.hypervisor
        end if @server.hypervisor.present? %>
    <%= s.attribute :operating_system %>
    <%= s.association :ipaddresses %>
    <%= render_physical_links_association @server if @server.physical_links.any? %>
    <%= render_connected_links_association @server if @server.connected_links.any? %>
    <!--<%= s.attribute :server_type %>-->
    <!--<%= s.attribute :previous_name %>-->
  <% end %>
</table>

<% unless @server.virtual? %>
<h2>Maintenance</h2>
<table class="show_item full">
  <%= show_for @server do |s| %>
    <%= s.association :mainteneur do
          link_to_if @server.mainteneur.present?, @server.mainteneur, @server.mainteneur
        end %>
    <%= s.attribute :delivered_on %>
    <%= s.attribute :maintained_until %>
    <%= s.attribute :contract_type %>
    <%= s.attribute :serial_number %>
  <% end %>
  <% end %>
</table>
</div>

<div id="server_hardware" class="grid_3 show">
  <h2><%= @server.virtual? ? "Ressources" : "Matériel" %></h2>
<table class="show_item full">
  <%= show_for @server do |s| %>
    <% unless @server.virtual? %>
      <%= s.association(:physical_rack) do
            link_to_if @server.physical_rack.present?, @server.physical_rack,
                       servers_path(:by_location => "rack-#{@server.physical_rack_id}")
          end %>
    <% end %>
    <%= s.attribute :fullmodel unless @server.virtual? %>
    <%= s.attribute :cpu %>
    <%= s.attribute :memory %>
    <%= s.attribute :disks %>
    <%= s.attribute :media_drive unless @server.virtual? %>
    <%= s.attribute :nb_rj45 %>
    <%= s.attribute :nb_fc %>
    <%= s.attribute :nb_iscsi %>
    <%= s.attribute :has_drac %>
  <% end %>
</table>
</div>

<div id="server-technical-relations" class="grid_3 show">
  <h2>Composants</h2>
  <%= render 'related_vms' if @server.virtual_machines.any? %>
  <%= render 'related_licenses' if @server.licenses.any? %>
  <%= render 'related_tomcats' if @server.tomcats.any? %>
  <%= render 'related_nss_volumes' if @server.nss_volumes.any? %>
  <%= render 'related_used_nss_volumes' if @server.used_nss_volumes.any? %>
  <%= render 'related_network_filesystems' if @server.network_filesystems.any? %>
  <%= render 'related_exported_disks' if @server.exported_disks.any? %>
  <%= render 'related_cronjobs' if @server.cronjobs.any? %>
</div>

<div id="server-application-relations" class="grid_3 show">
  <h2>Services</h2>
  <%= render 'related_application_instances' if @server.application_instances.any? %>
</div>
