<% title t(:users) %>

<div class="grid_9 center">

<%= action_links do %>
  <%= link_to t(:new_user), new_user_path %>
<% end %>

<table class="list pretty users">
  <tr>
    <%= sortable_th "name" %>
    <th><%= t(:user_provider) %></th>
    <th><%= t(:user_uid) %> / <%= t(:email) %></th>
    <th><%= t(:user_api) %></th>
    <%= sortable_th "seen_on", t(:user_seen) %>
    <th></th>
  </tr>
  <tbody class="long-list">
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, edit_user_path(user) %></td>
    <td class="center"><%= user.provider %></td>
    <td class="center"><%= user.provider == "internal" ? user.email : user.uid %></td>
    <td class="api center"><%= "&#149;".html_safe if user.authentication_token? %></td>
    <td class="center"><%= user.seen_on.try(:strftime, "%d/%m/%y") %></td>
    <td><%= link_to_delete(user) unless user == current_user %></td>
  </tr>
<% end %>
  </tbody>
</table>

</div>
