<% title "Utilisateurs" %>

<div class="grid_9 center">

<%= action_links do %>
  <%= link_to "Nouvel utilisateur", new_user_path %>
<% end %>

<table class="list pretty">
  <tr>
    <th>Nom</th>
    <th>Mode d'authentification</th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, edit_user_path(user) %></td>
    <td><%= user.provider %> / <%= user.uid %></td>
    <td><%= link_to image_tag("delete.png", :size => "16x16"), user, :confirm => t(:text_are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>
