<% title "Utilisateurs" %>

<div class="grid_9 center">

<%= action_links do %>
  <%= link_to "Nouvel utilisateur", new_user_path %>
<% end %>

<table class="list">
  <tr>
    <th>Nom</th>
    <th>Mode d'authentification</th>
    <th colspan="2" class="actions">Actions</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.provider %> / <%= user.uid %></td>
    <td><%= link_to 'Editer', edit_user_path(user) %></td>
    <td><%= link_to 'Supprimer', user, :confirm => t(:text_are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>
