  <tr class="fix-on-scroll">
    <th class="left">Serveur</th>
    <th class="left">Nom</th>
    <th>Type</th>
    <th>Guid</th>
    <th>Snapshots</th>
    <th>Taille</th>
  </tr>
  <% @nss_volumes.each do |nss_volume| %>
  <tr class="nss-<%= nss_volume.falconstor_type.downcase %>">
    <td><%= link_to nss_volume.server, nss_volume.server %></td>
    <td><%= nss_volume.name %></td>
    <td class="center"><%= nss_volume.falconstor_type %></td>
    <td class="center"><code><%= nss_volume.guid %></code></td>
    <td class="center <%= nss_volume.snapshot_enabled ? "snap-yes" : "snap-no" %>"><%= nss_volume.snapshot_enabled ? "oui" : "non" %></td>
    <td class="center"><%= pretty_size(nss_volume.size) %></td>
  </tr>
  <% end %>
