  <tr class="fix-on-scroll">
    <th class="left"><%= t(:server) %></th>
    <th class="left"><%= t(:name) %></th>
    <th class="left"><%= t(:clients) %></th>
    <th><%= t(:type) %></th>
    <th><%= t(:nss_guid) %></th>
    <th><%= t(:snapshots) %></th>
    <th class="right"><%= t(:size_in_Go) %></th>
  </tr>
  <% @nss_volumes.each do |nss_volume| %>
  <tr class="nss-<%= nss_volume.falconstor_type.downcase %>">
    <td><%= link_to nss_volume.server, nss_volume.server %></td>
    <td><%= nss_volume.name %></td>
    <td><%= nss_volume.clients.sort_by(&:name).map{|client| link_to(client,client)}.join("<br/>").html_safe %></td>
    <td class="center"><%= nss_volume.falconstor_type %></td>
    <td class="center"><pre><%= nss_volume.guid %></pre></td>
    <td class="center <%= nss_volume.snapshot_enabled ? "snap-yes" : "snap-no" %>"><%= nss_volume.snapshot_enabled ? t(:word_yes) : t(:word_no) %></td>
    <td class="right"><%= display_size(nss_volume.size) %></td>
  </tr>
  <% end %>
