<% title t(:nss_virtualization) %>

<div id="nss_volumes" class="items_list grid_12">

<%= render "submenu" %>  

<table class="pretty list">
  <%= form_tag nss_volumes_path(params), :id => "filters", :method => :get do -%>
  <tr class="filters fixed-size">
    <td class="left" style="width:6em"><%= select_tag "by_server", options_for_select(@servers.map{|s| [s.name, s.id]}, params[:by_server]), :include_blank => true %></td>
    <td><%= text_field_tag "by_name", params[:by_name] %></td>
    <td class="left" style="width:6em"><%= select_tag "by_client", options_for_select(@clients.map{|s| [s.name, s.id]}, params[:by_client]), :include_blank => true %></td>
    <td><%= select_tag "by_type", options_for_falconstor_type(params[:by_type]).html_safe -%></td>
    <td style="width:8em;"><%= text_field_tag "by_guid", params[:by_guid] %></td>
    <td><%= select_tag "by_snapshot_status", options_for_select([["",""], [t(:word_yes), "1"], [t(:word_no), 0]], params[:by_snapshot_status]).html_safe -%></td>
    <td>
      <span id="nss_volumes_counter" class="counter"><%= @nss_volumes.count %></span>
      <span id="nss_volumes_size_counter" class="counter"><%= pretty_size(@nss_volumes.map(&:size).sum).sub(/b(ytes)?$/,"o") %></span>
    </td>
  </tr>
  <% end %>
  <tbody id="nss_volumes_list" class="long-list">
    <%= render 'list' %>
  </tbody>
</table>

</div>
