<div id="mailing_list_result" class="span12 center">
  <%= simple_form_for(@mailing_list) do |f| %>
    <table class="show_item full">
      <tbody>
        <%= tabular_errors @mailing_list %>
        <%= f.input :name, wrapper_class: "th" %>
        <%= f.input :contact_ids, collection: ContactDecorator.emailable.map{|c| [c.decorate.mailing_list_form, c.id]},
                                  as: :multiselect %>
        <%= f.input :company_ids, collection: CompanyDecorator.emailable.map{|c| [c.decorate.mailing_list_form, c.id]},
                                  as: :multiselect %>
      </tbody>
    </table>
    <%= action_links do %>
      <%= f.button :submit, class: "btn btn-primary" %>
      <%= t(:or) %> <%= link_to t(:use_an_existing_mailing_list), mailing_lists_path %>
    <% end %>
  <% end %>
</div>
