<% title t(:mailing_lists) %>

<div class="grid_12 center">

<%= action_links do %>
  <%= link_to t(:new_mailing_list), new_mailing_list_path %>
<% end %>

<table class="pretty list full mailing_lists">
<thead>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:contacts) %></th>
    <th style="width:5em;"></th>
    <th style="width:1em;"></th>
  </tr>
</thead>
<tbody class="long-list">
<% @mailing_lists.each do |mailing_list| %>
  <tr>
    <td><%= link_to mailing_list.name, edit_mailing_list_path(mailing_list) %></td>
    <td><%= mailing_list.contacts.map(&:email_infos).map(&:first).map(&:value).join(", ") %></td>
    <td><%= mail_to mailing_list.contacts.map(&:email_infos).map(&:first).map(&:value).join(","), t(:use), :class => "button-mail" %></td>
    <td><%= link_to_delete mailing_list %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>
