<table class="list">
  <tr>
    <th class="center" colspan="2">Statistiques générales</th>
  </tr>
  <tr>
    <td><%= link_to "Applications", applications_path %></td>
    <td><%= Application.count %> applications</td>
  </tr>
  <tr>
    <td><%= link_to "Serveurs", servers_path %></td>
    <td>
      <%= Server.count %> serveurs
      <ul class="details">
        <li><%= Server.where(:virtual => true).count %> VMs</li>
        <li><%= Server.where(:virtual => false).count %> physiques</li>
      </ul>
    </td>
  </tr>
</table>
