<table class="list">
  <tr>
    <th><%= t(:maintenance) %></th>
  </tr>
  <tr>
    <td>
      <% cond = "virtual = ? AND maintained_until IS NOT NULL" %>
      <% physical = Server.where([cond, false]).count %>
      <%= t(:x_physical_servers_of_which, :count => physical) %> :
      <ul class="details">
        <li><%= Server.where([cond+" AND maintained_until < ?", false, Date.today]).count %> <%= t(:maintenance_over) %></li>
        <li><%= Server.where([cond+" AND maintained_until <= ?", false, Date.today + 6.months]).count %> <%= t(:maintenance_renewal_in_6_months) %></li>
        <li><%= Server.where([cond+" AND maintained_until <= ?", false, Date.today + 12.months]).count %> <%= t(:maintenance_renewal_in_12_months) %></li>
        <li><%= physical - Server.where([cond, false]).count %> <%= t(:not_maintained) %></li>
      </ul>
    </td>
  </tr>
</table>
