<table class="list">
  <tr>
    <th class="center" colspan="2"><%= t(:statistics_main) %></th>
  </tr>
  <tr>
    <td><%= link_to t(:applications), applications_path %></td>
    <td><%= Application.count %> <%= t(:applications).downcase %></td>
  </tr>
  <tr>
    <td><%= link_to t(:servers), servers_path %></td>
    <td>
      <%= Server.active.count %> <%= t(:servers).downcase %>
      <ul class="details">
        <li><%= Server.active.where(:virtual => true, :network_device => false).count %> <%= t(:virtual).downcase.pluralize %></li>
        <li><%= Server.active.where(:virtual => false, :network_device => false).count %> <%= t(:physical).downcase.pluralize %></li>
        <li><%= Server.active.where(:network_device => true).count %> <%= t(:network_devices).downcase %></li>
      </ul>
    </td>
  </tr>
</table>
