<table class="list">
  <tr>
    <th class="center" colspan="2">Statistiques Bases</th>
  </tr>
  <tr>
    <td><%= link_to "Postgres", databases_path %></td>
    <td>
      <% databases = Database.where(:database_type => "postgres") %>
      <%= pluralize(databases.map(&:machine_ids).flatten.uniq.count, "serveur") %>
      <ul class="details">
        <li><%= pluralize(databases.map(&:instances).sum, "pg_clusters") %></li>
        <li><%= pretty_size(databases.map(&:size).sum) %> de données</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><%= link_to "Oracle", databases_path %></td>
    <td>
      <% databases = Database.where(:database_type => "oracle") %>
      <%= pluralize(databases.map(&:machine_ids).flatten.uniq.count, "serveur") %>
      <ul class="details">
        <li><%= pluralize(databases.map(&:instances).sum, "instances") %></li>
        <li><%= pretty_size(databases.map(&:size).sum) %> de données</li>
      </ul>
    </td>
  </tr>
</table>
