<% title t(:welcome_to_cartoque) %>

<div id="welcome-container">

<%= welcome_box do %>
  <%= render 'stats_general' %>
<% end %>

<%= welcome_box do %>
  <%= render 'stats_databases' %>
<% end %>

<%= welcome_box do %>
  <%= render 'stats_storage' %>
<% end %>

<%= welcome_box do %>
  <%= render 'stats_maintenance' %>
<% end %>

</div><!-- #welcome-container -->
