<% title "Welcome to Cartoque!" %>

<div id="welcome-container">

<%= welcome_box do %>
  <%= render 'stats_general' %>
<% end %>

<%= welcome_box do %>
  <%= render 'stats_databases' %>
<% end %>

<%= welcome_box do %>
  <%= render 'stats_storage' %>
<% end %>

<%= welcome_box do %>
  <%= render 'stats_maintenance' %>
<% end %>

<%= welcome_box "" %>

<%= welcome_box do %>
  <%= render 'comp_vmware' %>
<% end %>

</div><!-- #welcome-container -->
