<% title "Paramètres globaux" %>

<%= form_tag update_all_settings_path, :method => :put do %>
<table id="settings" class="pretty">
  <tr>
    <th>URL Serveur CAS</th>
    <td>
      <%= text_field_tag 'settings[cas_server]', Settler[:cas_server], :size => 35 %>
    </td>
  </tr>
  <tr>
    <th>Message de service</th>
    <td>
      <%= text_area_tag 'settings[site_announcement_message]', Settler[:site_announcement_message], :size => "50x2" %><br />
      Thème: <%= select_tag 'settings[site_announcement_type]',
                           options_for_select(%w(info success warning error).map{|a| [a,a]}, Settler[:site_announcement_type]) %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Valider" %></td>
  </tr>
</table>
<% end %>
