<div class="contact_card<%= " active" if full_display?(contact) %>" style="background-image:url(<%= asset_path(contact.image_url) %>)">
<div class="informations">

  <div class="contextual action-links">
    <%= link_to_edit edit_contact_path(contact) %><br />
    <%= link_to_delete contact %>
  </div>

  <h5><%= link_to contact.full_name, contact %></h5>
  <%= content_tag(:p, full_position(contact, true), class: "contact_position") if full_position(contact).present? %>

  <% if !full_display?(contact) %>
    <%= content_tag :p do %>
      <%= mail_to(contact.email, contact.short_email) if contact.email.present? %>
      <%= contact.phone if contact.phone.present? %>
    <% end %>
  <% else %>
    <% contact.email_infos.each do |info| %>
      <%= content_tag(:p, "#{t(:mail_short)}: #{mail_to(info)}".html_safe) %>
    <% end %>
    <% contact.phone_infos.each do |info| %>
      <%= content_tag(:p, "#{t(:phone_short)}: #{info}") %>
    <% end %>
    <% contact.address_infos.each do |info| %>
      <%= content_tag(:p, "#{t(:address_short)}: #{info}") %>
    <% end %>
  <% end %>

</div>
</div>

<% if contact.comment.present? && full_display?(contact) %>
  <div class="postit">
    <%= simple_format contact.comment %>
  </div>
<% end %>
