<div class="contact_card" style="background-image:url(<%= asset_path("ceo.png") %>)">
  <div class="contextual">
    <%= link_to_edit edit_contact_path(contact) %><br />
    <%= link_to_delete contact %>
  </div>
  <h5><%= link_to contact.full_name, contact %></h5>
  <%= content_tag(:p, contact.full_position, :class => "contact_position") if contact.full_position.present? %>
  <%= content_tag :p do %>
    <%= mail_to(contact.email) if contact.email.present? %>
    <%= contact.phone if contact.phone.present? %>
    <%= contact.mobile if contact.mobile.present? %>
  <% end %>
  <% content_tag(:p, contact.comment) if contact.comment.present? %>
</div>
<!--<td><%= contact.phone %> <%= contact.mobile %></td>
<td><%= contact.email %></td>
<td><%= contact.comment %></td>-->
