<%= simple_form_for(@contact) do |f| %>

  <div id="contact_image" class="grid_2 image_url_form">
    <%= render 'contacts/image_url_form', entity: @contact, f: f,
                                          available_images: Contact.available_images_hash %>
  </div>

  <div id="contact_general" class="grid_6">
    
    <%= action_links do %>
      <%= f.button :submit %>
      <%= t(:or) %> <%= link_to t(:back_to_the_list), contacts_path %>
      <% unless @contact.new_record? %>
        | <%= link_to t(:show), @contact %>
      <% end %>
    <% end %>

    <table class="inputs">
      <tbody>
        <%= tabular_errors @contact %>
        <tr id="contact_identity">
          <td colspan="2">
            <%= f.text_field :first_name, placeholder: t(:first_name) %>
            <%= f.text_field :last_name, placeholder: t(:last_name) %>
          </td>
        </tr>
        <tr class="input boolean optional">
          <td class="label"><label class="boolean optional" for="contact_internal"><%= t(:internal) %></label></td>
          <td class="content">
            <% #WARNING: this field should stay ahead of 'company_name', otherwise 'internal' property would not be propagated to a new company %>
            <div class="lefty"><%= f.input_field :internal, as: :boolean %></div>
            <div class="hint"><%= t(:text_internal_tip) %></div>
          </td>
        </tr>
        <%= f.input :job_position, input_html: { class: "long" } %>
        <%= f.input :company_name, label: t(:company),
                    input_html: { class: "long", data: { autocomplete_source: autocomplete_companies_path } } %>
        <tr>
          <td class="label top"><%= f.label :email %></td>
          <td>
            <% f.object.email_infos << EmailInfo.new if f.object.email_infos.none? %>
            <%= f.simple_fields_for :email_infos do |info_form| %>
              <%= render 'email_info_fields', f: info_form %>
            <% end %>
            <span class="add-field">
              <%= link_to_add_fields image_tag("new_button.png", size: "14x15", class:"inline")+"ajouter", f, :email_infos, klass: EmailInfo %>
            </span>
          </td>
        </tr>

        <tr>
          <td class="label top"><%= f.label :phone %></td>
          <td>
            <% f.object.phone_infos << PhoneInfo.new if f.object.phone_infos.none? %>
            <%= f.simple_fields_for :phone_infos do |info_form| %>
              <%= render 'phone_info_fields', f: info_form %>
            <% end %>
            <span class="add-field">
              <%= link_to_add_fields image_tag("new_button.png", size: "14x15", class:"inline")+"ajouter", f, :phone_infos, klass: PhoneInfo %>
            </span>
          </td>
        </tr>

        <tr>
          <td class="label top"><%= f.label :address %></td>
          <td>
            <% f.object.address_infos << AddressInfo.new if f.object.address_infos.none? %>
            <%= f.simple_fields_for :address_infos do |info_form| %>
              <%= render 'address_info_fields', f: info_form %>
            <% end %>
            <span class="add-field">
              <%= link_to_add_fields image_tag("new_button.png", size: "14x15", class:"inline")+"ajouter", f, :address_infos, klass: AddressInfo %>
            </span>
          </td>
        </tr>

        <%= f.input :comment, input_html: {size: "40x5"}  %>
      </tbody>
    </table>

  </div>

<% end %>
