<% title t(:contacts) %>

<div class="grid_8">

  <div class="filters">
    <%= form_tag contacts_path(params), :id => "filters", :method => :get do -%>
      <input type="text" name="search" id="search_contacts" placeholder="<%= t(:placeholder_for_contacts_search) %>"
             value="<%= params[:search] %>" autocomplete="off" />
    <% end %>
  </div>

  <div class="grid_4" style="margin-left:0;">
    <div id="contacts_list">
      <%= render 'list_contacts' %>
    </div>
  </div>

  <div class="grid_4" style="margin-right:0;">
    <div id="companies_list">
      <%= render 'list_companies' %>
    </div>
  </div>

</div>

<div class="grid_4" style="position:relative; top:0;">
  <div id="contacts_actions">
    <h2><%= t(:actions) %></h2>
    <p>
      <%= link_to t(:new_contact), new_contact_path, :class => "button-add" %><br />
      <%= t(:text_new_contact_explanation) %>
    </p>
    <p>
      <%= link_to t(:new_company), new_company_path, :class => "button-add" %><br />
      <%= t(:text_new_company_explanation) %>
    </p>
  </div>
</div>

