<% title t(:contacts) %>

<div class="grid_8">

  <div class="filters contacts_filter">
    <%= form_tag contacts_path(params), :id => "filters", :method => :get do -%>
      <input type="text" name="search" id="search_contacts" placeholder="<%= t(:placeholder_for_contacts_search) %>"
             value="<%= params[:search] %>" autocomplete="off" />
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
    <% end %>
    <div class="contextual tiny contacts_sort_by">
      <%= t(:sort_by) %>:
      <%= content_tag :span, sortable("last_name", t(:name).downcase), :class => sortable_css_class("last_name") %> 
      <%= content_tag :span, sortable("first_name", t(:first_name).downcase), :class => sortable_css_class("first_name") %> 
      <%= content_tag :span, sortable("updated_at", t(:updated_at).downcase), :class => sortable_css_class("updated_at") %> 
    </div>
  </div>

  <div class="grid_4" style="margin-left:0;">
    <div id="contacts_list">
      <%= render 'list_contacts' %>
    </div>
  </div>

  <div class="grid_4" style="margin-right:0;">
    <div id="companies_list">
      <%= render 'list_companies' %>
    </div>
  </div>

</div>

<div class="grid_4" style="position:relative; top:0;">
  <div id="contacts_actions">
    <h2><%= t(:actions) %></h2>
    <p>
      <%= link_to t(:new_contact), new_contact_path, :class => "button-add" %><br />
      <%= t(:text_new_contact_explanation) %>
    </p>
    <p>
      <%= link_to t(:new_company), new_company_path, :class => "button-add" %><br />
      <%= t(:text_new_company_explanation) %>
    </p>
    <p class="hidden">
      <%= link_to_function "Générer une mailing list", "alert('Soon ! :)');", :class => "button-mail" %><br />
      <%= t(:text_generate_mailinglist_explanation) %>
    </p>
  </div>
</div>

