<% title link_to(t(:contacts), contacts_path) + " &rsaquo; ".html_safe + @contact.full_name %>

<div id="contact_informations" class="span4">

<%= render partial: 'contact', object: @contact %>

</div>

<div class="span4 contact_company">
<% if @contact.company.present? %>
  <h2><%= t(:works_at) %></h2>
  <%= render 'companies/company', company: @contact.company %>

  <% if @contact.company.contacts.count > 1 %>
    <h2><%= t(:with) %></h2>
    <%= render partial: 'contacts/contact', collection: @contact.company.contacts - [@contact] %>
  <% end %>
<% end %>
</div>

<div class="span4 contact_relations">
<% #TODO: restore contact relations system %>
<% if false && @contact.contact_relations.any? %>
  <h2><%= t(:contact_relations) %></h2>
  <% #TODO: restore CI and CI informations %>
  <% ([] || @contact.contact_relations).each do |cr| %>
    <div class="related-ci related-ci-big related-application-instances">
      <%= link_to cr.configuration_item.item do %>
        <div class="informations">
          <h3><%= cr.configuration_item.item %></h3>
          <%= cr.role.name %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
