<% if device.is_a?(String) %>
  <%= device %>
<% else %>
<p class="infos">
  <strong><%= pretty_size(device.size) %></strong>:
  <%= pretty_size(device.used) %> occupés,
  <%= pretty_size(device.free) %> disponibles
</p>
<%= progress_bar(device.percent_used,
                 :width => 300,
                 :legend => ('%0.0f%' % device.percent_used)) %>

<% devid = "device-#{device.name.parameterize}" %>
<% if device.unassigned > 0 %>
  <span class="unassigned">+ <%= pretty_size(device.unassigned) %> unassigned</span>
<% end %>

<% if device.children.any? %>
<p class="more">
  <%= link_to "Plus", {},
              :onclick => %($("##{devid}").toggle(); return false;) %>
</p>
<% end %>

<table id="<%= devid %>" class="storage-array" style="display:none">
<% device.children.each do |array| %>
  <tr class="storage-array">
    <td>
      <%= array.name %><%= " (RAID #{array.raid})" if array.raid %><br />
      <%= pretty_size(array.size) %>
      <%= " / #{pretty_size(array.free)} free" unless array.free == 0 %>
    </td>
    <td style="width:100%">
      <%= progress_bar(array.percent_used, :width => 120,
                       :legend => "#{array.percent_used}%") %>
    </td>
  </tr>
<% end %>
</table>
<% end %>
