<% if device.is_a?(String) %>
  <%= device %>
<% else %>
<p class="infos">
  <strong><%= pretty_size(device.size) %></strong>:
  <%= pretty_size(device.used) %> occupés, 
  <%= pretty_size(device.free) %> disponibles
</p>
<%= progress_bar(device.percent_used,
                 :width => '20em',
                 :legend => ('%0.0f%' % device.percent_used)) %>
  
<% devid = "device-#{device.name.parameterize}" %>
<% if device.unassigned > 0 %>
  <span class="unassigned">+ <%= pretty_size(device.unassigned) %> unassigned</span>
<% end %>
<small>
  <% link_to "Plus", {},
                :onclick => %Q(Effect.toggle("#{devid}", "blind", {duration:0.3}); return false;) %>
</small>
<table id="<%= devid %>" class="storage-array" style="display:none">
<% device.children.each do |array| %>
  <tr>
    <td class="center">
      Array <%= array.name %><br />
      <%= pretty_size(array.size) %>
    </td>
    <td class="center">
      RAID <%= array.raid %>
    </td>
    <td style="width:100%"><%= progress_bar(array.percent_used, :width => '10em',
                         :legend => "#{pretty_size(array.free)} free") %></td>
  </tr>
<% end %>
</table>
<% end %>
