<%= simple_form_for(@storage) do |f| %>
  <table class="show_item">
    <tbody>
      <%= tabular_errors @storage %>
      <%= f.association :machine, :required => true, :wrapper_class => "th",
                        :collection => Machine.order("name").map{|m| [m.name, m.id]} %>
      <%= f.input :constructor, :collection => Storage.supported_types %>
    </tbody>
  </table>

  <p class="actions">
    <%= f.button :submit %>
    ou <%= link_to "Retourner a la liste", storages_path %>
    <% unless @storage.new_record? %>
      | <%= link_to "Voir", @storage %>
    <% end %>
  </p>
<% end %>
