<%= simple_form_for(@storage) do |f| %>
  <table class="show_item">
    <tbody>
      <% if @storage.errors.any? %>
      <tr id="error_explanation"><td colspan="2">
        <h2><%= pluralize(@storage.errors.count, "erreur") %> :</h2>
        <ul>
        <% @storage.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </td></tr>
      <% end %>
      <%= f.association :machine, :required => true, :wrapper_class => "th",
                        :collection => Machine.order("nom").map{|m| [m.nom, m.id]} %>
      <%= f.input :constructor, :collection => Storage.supported_types %>
    </tbody>
  </table>

  <p class="actions">
    <%= f.button :submit %>
    ou <%= link_to "Retourner a la liste", storages_path %> 
    <% unless @storage.new_record? %>
      | <%= link_to "Voir", @storage %>
    <% end %>
  </p>
<% end %>
