  <tr class="fix-on-scroll">
    <th style="min-width:8em"><%= t(:storage_device) %></th>
    <th><%= t(:constructor) %></th>
    <th><%= t(:details) %></th>
  </tr>
  <tr>
    <td class="global" colspan="3">
      <% device = Storcs::Device.new(""); device.children = @storages.map(&:device).select{|s|s.is_a?(Storcs::Device)} %>
      <%= t(:storage_global_state) %>
      <strong><%= pretty_size(device.size) %></strong>:
      <%= pretty_size(device.used) %> <%= t(:storage_used) %> (<%= "%0.0f%" % device.percent_used %>),
      <%= pretty_size(device.free) %> <%= t(:storage_left) %> (<%= "%0.0f%" % device.percent_free %>)
    </td>
  </tr>
  <% @storages.sort_by{|s| [s.constructor, s.server.name.downcase]}.each do |storage| %>
    <tr>
      <td class="top">
        <strong><%= link_to storage.server.name, storage.server %></strong>
        <%= action_links do %>
          <%= link_to_edit edit_storage_path(storage) %>
          <%= link_to_delete storage %>
        <% end %>
      </td>
      <td class="top center"><%= storage.constructor %></td>
      <td class="details"><%= render('device', device: storage.device) if storage.device %></td>
    </tr>
  <% end %>
