<%= action_links do %>
  <div class="contextual">
    <%= link_to image_tag("file_extension_pdf.png"), storages_path(:format => "pdf") %>
  </div>
  <%= link_to "Ajouter une baie", new_storage_path %>
<% end %>

<table class="pretty center" id="storage">
  <tr>
    <th>Nom</th>
    <th>Constructor</th>
    <th>Details</th>
    <th class="actions">Actions</th>
  </tr>
  <tr>
    <td class="global" colspan="5">
      <% device = Storcs::Device.new(""); device.children = @storages.map(&:device).select{|s|s.is_a?(Storcs::Device)} %>
      Etat global du stockage:
      <strong><%= pretty_size(device.size) %></strong>:
      <%= pretty_size(device.used) %> occupés (<%= "%0.0f%" % device.percent_used %>),
      <%= pretty_size(device.free) %> disponibles (<%= "%0.0f%" % device.percent_free %>)
    </td>
  </tr>
  <% @storages.sort_by{|s| [s.constructor, s.machine.name.downcase]}.each do |storage| %>
    <tr>
      <td class="top"><%= storage.machine.name %></td>
      <td class="top"><%= storage.constructor %></td>
      <td class="details"><%= render('device', :device => storage.device) if storage.device %></td>
      <td class="top actions">
        <%= link_to "Editer", edit_storage_path(storage) %><br />
        <%= link_to "Supprimer", storage, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
