  <tr>
    <th style="min-width:8em">Baie</th>
    <th>Constructeur</th>
    <th>Details</th>
  </tr>
  <tr>
    <td class="global" colspan="3">
      <% device = Storcs::Device.new(""); device.children = @storages.map(&:device).select{|s|s.is_a?(Storcs::Device)} %>
      Etat global du stockage:
      <strong><%= pretty_size(device.size) %></strong>:
      <%= pretty_size(device.used) %> occupés (<%= "%0.0f%" % device.percent_used %>),
      <%= pretty_size(device.free) %> disponibles (<%= "%0.0f%" % device.percent_free %>)
    </td>
  </tr>
  <% @storages.sort_by{|s| [s.constructor, s.machine.name.downcase]}.each do |storage| %>
    <tr>
      <td class="top">
        <strong><%= link_to storage.machine.name, storage.machine %></strong>
        <%= action_links do %>
          <%= link_to "edit", edit_storage_path(storage) %>
          | <%= link_to "suppr", storage, :confirm => t(:text_are_you_sure), :method => :delete %>
        <% end %>
      </td>
      <td class="top center"><%= storage.constructor %></td>
      <td class="details"><%= render('device', :device => storage.device) if storage.device %></td>
    </tr>
  <% end %>
