<div class="span12 center">

<%= show_for @storage do |s| %>
  <%= s.attribute :server_id %>
  <%= s.attribute :file %>
  <%= s.attribute :constructor %>
  <%= s.attribute :details %>
<% end %>

<%= link_to t(:edit), edit_storage_path(@storage) %> |
<%= link_to t(:back_to_the_list), storages_path %>

</div>
