<div class="company_card" style="background-image:url(<%= asset_path("building.png") %>)">
  <div class="contextual">
    <%= link_to_edit edit_company_path(company) %><br />
    <%= link_to_delete company %>
  </div>
  <h5><%= link_to company.name, company %></h5>
  <% if company.contacts.any? %>
  <p>
    <%= company.contacts.first(2).map(&:short_name).join(", ") %>
    <%= ", + #{company.contacts.count - 2}..." if company.contacts.count > 2 %>
  </p>
  <% end %>
</div>
