<div class="company_card<%= " active" if full_display?(company) %>" style="background-image:url(<%= asset_path(company.image_url) %>)">
  <div class="contextual">
    <%= link_to_edit edit_company_path(company) %><br />
    <%= link_to_delete company %>
  </div>
  <h5><%= link_to company.name, company %></h5>
  <% if company.contacts.any? %>
  <p class="tiny">
     <%= company.contacts.first(2).map{|c| link_to(c.short_name,c)}.join(", ").html_safe %>
     <%= t(:and_X_others, :value => company.contacts.count - 2) if company.contacts.count > 2 %>
  </p>
  <% end %>

  <% if full_display?(company) %>
    <% company.email_infos.each do |info| %>
      <%= content_tag(:p, "#{t(:mail_short)}: #{mail_to(info)}".html_safe) %>
    <% end %>
    <% company.website_infos.each do |info| %>
      <%= content_tag(:p, "#{t(:website_short)}: #{link_to_website(info.value)}".html_safe) %>
    <% end %>
    <% company.phone_infos.each do |info| %>
      <%= content_tag(:p, "#{t(:phone_short)}: #{info}") %>
    <% end %>
  <% end %>

</div>

<% if company.comment.present? && full_display?(company) %>
  <div class="postit">
    <%= simple_format company.comment %>
  </div>
<% end %>
