<div class="company_card" style="background-image:url(<%= asset_path(company.image_url) %>)">
  <div class="contextual">
    <%= link_to_edit edit_company_path(company) %><br />
    <%= link_to_delete company %>
  </div>
  <h5><%= link_to company.name, company %></h5>
  <% if company.contacts.any? %>
  <p class="tiny">
     <%= company.contacts.first(2).map{|c| link_to(c.short_name,c)}.join(", ").html_safe %>
     <%= t(:and_X_others, :value => company.contacts.count - 2) if company.contacts.count > 2 %>
  </p>
  <% end %>
</div>
