<%= simple_form_for(@company) do |f| %>

  <div id="company_image" class="grid_2 image_url_form">
    <%= render 'contacts/image_url_form', :entity => @company, :f => f,
                                          :available_images => Company.available_images_hash %>
  </div>

  <div id="company_general" class="grid_6">
    
    <%= action_links do %>
      <%= f.button :submit %>
      <%= t(:or) %> <%= link_to t(:back_to_the_list), contacts_path %>
      <% unless @company.new_record? %>
        | <%= link_to t(:show), @company %>
      <% end %>
    <% end %>

    <table class="inputs">
      <tbody>
        <%= tabular_errors @company %>
        <tr id="company_identity">
          <td colspan="2">
            <%= f.text_field :name, :placeholder => t(:name), :style => "width:100%" %>
          </td>
        </tr>

        <tr>
          <td class="label top"><%= f.label :email %></td>
          <td>
            <% f.object.email_infos.build if f.object.email_infos.size == 0 %>
            <%= f.simple_fields_for :email_infos do |info_form| %>
              <%= render 'email_info_fields', :f => info_form %>
            <% end %>
            <span class="add-field">
              <%= link_to_add_fields image_tag("new_button.png", :size => "14x15", :class=>"inline")+"ajouter", f, :email_infos %>
            </span>
          </td>
        </tr>

        <tr>
          <td class="label top"><%= f.label :website %></td>
          <td>
            <% f.object.website_infos.build if f.object.website_infos.size == 0 %>
            <%= f.simple_fields_for :website_infos do |info_form| %>
              <%= render 'website_info_fields', :f => info_form %>
            <% end %>
            <span class="add-field">
              <%= link_to_add_fields image_tag("new_button.png", :size => "14x15", :class=>"inline")+"ajouter", f, :website_infos %>
            </span>
          </td>
        </tr>

        <tr>
          <td class="label top"><%= f.label :phone %></td>
          <td>
            <% f.object.phone_infos.build if f.object.phone_infos.size == 0 %>
            <%= f.simple_fields_for :phone_infos do |info_form| %>
              <%= render 'phone_info_fields', :f => info_form %>
            <% end %>
            <span class="add-field">
              <%= link_to_add_fields image_tag("new_button.png", :size => "14x15", :class=>"inline")+"ajouter", f, :phone_infos %>
            </span>
          </td>
        </tr>

        <%= f.input :comment, input_html: {size: "40x5"}  %>
      </tbody>
    </table>

  </div>

<% end %>
