<% title t(:contacts) %>

<div class="span4">
  <%= action_links do %>
    <%= link_to t(:new_contact), new_contact_path %>
  <% end %>
  <div id="contacts_list">
    <% @contacts.each do |contact| %>
      <%= render partial: 'contact', object: contact %>
    <% end %>
  </div>
</div>

<div class="span4">
  <%= action_links do %>
    <%= link_to t(:new_company), new_company_path %>
  <% end %>
  <div id="companies_list">
    <% @companies.each do |company| %>
      <%= render partial: 'companies/company', object: company %>
    <% end %>
  </div>
</div>
