<% title link_to(t(:contacts), contacts_path) + " &rsaquo; ".html_safe + @company.name %>

<div id="company_informations" class="span4">

<%= render partial: 'company', object: @company %>

</div>

<div class="span4 company_relations">
  <h2 class="center"><%= t(:members) %></h2>
  <%= render partial: 'contacts/contact', collection: @company.contacts %>
</div>

<div class="span4 company_relations">
<% if @company.maintained_servers.any? %>
  <h2 class="center"><%= t(:maintains) %> <%= @company.maintained_servers.count %> <%= t(:servers) %></h2>
  <ul class="comparison">
    <% @company.maintained_servers.sort_by(&:name).each do |server| %>
      <li><%= link_to_servername server.name %></li>
    <% end %>
  </ul>
<% end %>
</div>
