<% title "#{t(:company)}: #{@company}" %>

<div id="company_informations" class="grid_4">

<%= action_links do %>
  <%= link_to t(:back_to_the_list), contacts_path %>
<% end %>

<%= render :partial => 'company', :object => @company %>

</div>

<div class="grid_4">
<% if @company.contacts.any? %>
  <h2 class="center"><%= t(:members) %></h2>
  <%= render :partial => 'contacts/contact', :collection => @company.contacts %>
<% end %>
</div>

<div class="grid_4">
<% if @company.maintained_servers.any? %>
  <h2 class="center"><%= t(:maintenance) %> (<%= @company.maintained_servers.count %>)</h2>
  <ul class="comparison">
    <% @company.maintained_servers.sort_by(&:name).each do |server| %>
      <li><%= link_to_servername server.name %></li>
    <% end %>
  </ul>
<% end %>
</div>
