<div class="grid_9 center">

<% title "Mainteneurs" %>

<%= action_links do %>
  <%= link_to 'Nouveau mainteneur', new_mainteneur_path %>
<% end %>

<table class="list pretty">
<thead>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Client ref</th>
    <th></th>
  </tr>
</thead>
<tbody class="long-list">
<% @mainteneurs.each do |mainteneur| %>
  <tr>
    <td><%= link_to mainteneur.name, mainteneur %></td>
    <td><%= mainteneur.phone %></td>
    <td><%= mainteneur.email %></td>
    <td><%= mainteneur.client_ref %></td>
    <td><%= link_to_delete mainteneur %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>
