<div class="grid_9 center">

<% title "Mainteneurs" %>

<%= action_links do %>
  <%= link_to 'Nouveau mainteneur', new_mainteneur_path %>
<% end %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Client ref</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mainteneurs.each do |mainteneur| %>
  <tr>
    <td><%= mainteneur.name %></td>
    <td><%= mainteneur.phone %></td>
    <td><%= mainteneur.email %></td>
    <td><%= mainteneur.client_ref %></td>
    <td><%= link_to 'Voir', mainteneur %></td>
    <td><%= link_to 'Editer', edit_mainteneur_path(mainteneur) %></td>
    <td><%= link_to 'Supprimer', mainteneur, :confirm => t(:text_are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>
