<% title "Mainteneur" %>

<div class="grid_9 center">

<%= action_links do %>
  <%= link_to 'Editer', edit_mainteneur_path(@mainteneur) %> |
  <%= link_to 'Supprimer', @mainteneur, :confirm => t(:text_are_you_sure), :method => :delete %> |
  <%= link_to 'Retourner à la liste', mainteneurs_path %>
<% end %>

<table class="show_item">
  <thead>
    <tr>
      <th colspan="2">
        <%= @mainteneur.name %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= show_for @mainteneur do |s| %>
      <%= s.attribute :phone %>
      <%= s.attribute :email %>
      <%= s.attribute :address %>
      <%= s.attribute :client_ref %>
    <% end %>
  </tbody>
</table>

</div>
