<div class="grid_12 center">

<%%= simple_form_for(@<%= singular_name %>) do |f| %>
  <%%= action_links do %>
    <%%= f.button :submit %>
    <%%= t(:or) %> <%%= link_to t(:back_to_the_list), <%= plural_name %>_path %>
  <%% end %>

  <table class="show_item">
    <tbody>
      <%%= tabular_errors @<%= singular_name %> %>
    <%- attributes.each do |attribute| -%>
      <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
    <%- end -%>
    </tbody>
  </table>
<%% end %>

</div>
