<% title t(:roles) %>

<div class="grid_9 center">

<%= action_links do %>
  <%= link_to t(:new_role), new_role_path %>
<% end %>

<table class="pretty list roles">
<thead>
  <tr>
    <th></th>
    <th><%= t(:name) %></th>
    <th></th>
  </tr>
</thead>
<tbody class="long-list" id="roles-sortable" data-sort-url="<%= sort_roles_path %>">
<% @roles.each do |role| %>
  <%= content_tag_for :tr, role do %>
    <td><%= image_tag 'transform_move.png', size: '16x16' %></td>
    <td><%= role.name %></td>
    <td>
      <%= link_to_edit edit_role_path(role) %>
      <%= link_to_delete role %>
    </td>
  <% end %>
<% end %>
</tbody>
</table>

</div>
