<% title t(:roles) %>

<div class="grid_9 center">

<%= action_links do %>
  <%= link_to t(:new_role), new_role_path %>
<% end %>

<table class="pretty list roles">
<thead>
  <tr>
    <th><%= t(:name) %></th>
    <th></th>
  </tr>
</thead>
<tbody class="long-list">
<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td>
      <%= link_to_edit edit_role_path(role) %>
      <%= link_to_delete role %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

</div>
