<% if database_instance_counter != 0 %><tr><% end %>
<td class="database-name database-version center">
  <%= database_instance.name %>
  <br />
  <%= database_instance.version %>
</td>
<td colspan="3" class="database-params">
  <ul class="databases-details">
  <% if database_instance.config.present? %>
  <% database_instance.config.keys.sort.each do |param| %>
    <li><%= param %><span style="float:right; padding-left:1em"><%= database_instance.config[param] %></span></li>
  <% end %>
  <% else %>
    <li><%= t(:information_not_available) %></li>
  <% end %>
  </ul>
</td>
<% if database_instance_counter != 0 %></tr><% end %>
