<% stylesheet "jquery.bsmselect", "jquery.bsmselect-custom" %>
<% javascript "jquery.bsmselect", "jquery.bsmselect.compatibility", "jquery.bsmselect.sortable" %>

<script type="text/javascript">//<![CDATA[
  $(function($) {
    $("#database_machine_ids").bsmSelect({
      showEffect: function($el){ $el.fadeIn(); },
      hideEffect: function($el){ $el.fadeOut(function(){ $(this).remove();}); },
      //plugins: [$.bsmSelect.plugins.sortable()],
      title: 'Sélectionnez...',
      highlight: 'highlight',
      addItemTarget: 'original',
      removeLabel: '<strong>X</strong>',
      containerClass: 'bsmContainer',                // Class for container that wraps this widget
      listClass: 'bsmList-custom',                   // Class for the list ($ol)
      listItemClass: 'bsmListItem-custom',           // Class for the <li> list items
      listItemLabelClass: 'bsmListItemLabel-custom', // Class for the label text that appears in list items
      removeClass: 'bsmListItemRemove-custom',       // Class given to the "remove" link
      //extractLabel: function($o) {return $o.parents('optgroup').attr('label') + "&nbsp;>&nbsp;" + $o.html();}
    });

  });
 
//]]></script>

<%= simple_form_for(@database) do |f| %>
  <table class="show_item">
    <tbody>
      <% if @database.errors.any? %>
      <tr id="error_explanation"><td colspan="2">
        <h2><%= pluralize(@database.errors.count, "erreur") %> :</h2>
        <ul>
        <% @database.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </td></tr>
      <% end %>
      <%= f.input :name, :required => true, :wrapper_class => "th" %>
      <tr class="select optional">
        <td class="label">
          <label class="select optional" for="server_ids">Serveurs</label>
        </td>
        <td class="content">
          <%= collection_select(:database, :machine_ids, Machine.order(:nom), :id, :nom,
                                { :prompt => false }, { :multiple => "multiple" }) %>
          <%= hidden_field_tag "database[machine_ids][]", "" %>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="actions">
    <%= f.button :submit %>
    ou <%= link_to "Retourner à la liste", databases_path %>
    <% unless true || @database.new_record? %>
      | <%= link_to "Voir", @database %>
    <% end %>
  </p>
<% end %>
