<div class="span12 center">

<%= simple_form_for(@database) do |f| %>
  <table class="show_item">
    <tbody>
      <%= tabular_errors @database %>
      <%= f.input :name, required: true, wrapper_class: "th" %>
      <%= f.input :type, collection: %w(postgres mysql oracle),
                  required: true, include_blank: false %>
      <%= f.association :servers, collection: Server.order_by([:name.asc]), as: :multiselect %>
    </tbody>
  </table>

  <%= action_links do %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= t(:or) %> <%= link_to t(:back_to_the_list), databases_path %>
    <% unless true || @database.new_record? %>
      | <%= link_to t(:show), @database %>
    <% end %>
  <% end %>
<% end %>

</div>
