<% postgres_databases = @databases.select{|db| db.database_type == 'postgres'} %>
<% oracle_databases   = @databases.select{|db| db.database_type == 'oracle'} %>

  <% unless postgres_databases.empty? %>
  <tr class="fix-on-scroll">
    <th><%= t(:server) %></th>
    <th><%= t(:type) %></th>
    <%= postgres_databases.first.table_headers %>
  </tr>
  <% end %>
  <% for database in postgres_databases %>
    <% height = database.postgres_report.size %>
    <% height = 1 if height == 0 %>
    <tr>
      <td rowspan="<%= height %>" class="multirow has-opaques">
        <div class="contextual opaque">
          <%= action_links do %>
            <%= link_to_edit edit_database_path(database) %>
            <%= link_to_delete database %>
          <% end %>
        </div>
        <%= database.pretty_nodes %>
      </td>
      <td rowspan="<%= height %>" class="multirow center">PostgreSQL</td>
      <% if database.postgres_report.present? %>
        <%= render partial: 'postgres_report', collection: database.postgres_report %>
      <% else %>
        <td colspan="4" class="center"><%= t(:information_not_available) %></td>
      <% end %>
    </tr>
   <% end %>

  <% unless oracle_databases.empty? %>
  <tr class="fix-on-scroll">
    <th><%= t(:server) %></th>
    <th><%= t(:type) %></th>
    <%= oracle_databases.first.table_headers %>
  </tr>
  <% end %>
  <% for database in oracle_databases %>
    <% height = database.oracle_report.size %>
    <% height = 1 if height == 0 %>
    <tr>
      <td rowspan="<%= height %>" class="multirow has-opaques">
        <div class="contextual opaque">
          <%= action_links do %>
            <%= link_to_edit edit_database_path(database) %>
            <%= link_to_delete database %>
          <% end %>
        </div>
        <%= database.pretty_nodes %>
      </td>
      <td rowspan="<%= height %>" class="multirow center">Oracle</td>
      <% if database.oracle_report.present? %>
        <%= render partial: 'oracle_report', collection: database.oracle_report %>
      <% else %>
        <td colspan="4" class="center"><%= t(:information_not_available) %></td>
      <% end %>
    </tr>
  <% end %>
