<p class="actions">
  <%= link_to "Déclarer un serveur de bases de données", new_database_path %>
</p>

<% postgres_databases = @databases.select{|db| db.database_type == 'postgres'} %>
<% oracle_databases   = @databases.select{|db| db.database_type == 'oracle'} %>

<div style="float:left">
<h2>Postgres</h2>
<table>
  <tr>
    <th>Serveurs</th>
    <%= database_headers_for("postgres") %>
  </tr>
  <% for database in postgres_databases %>
    <% height = database.postgres_report.size %>
    <% height = 1 if height == 0 %>
    <tr>
      <td rowspan="<%= height %>">
        <%= database_nodes database %>
        <p class="actions">
          <%= link_to "edit", edit_database_path(database) %>
          | <%= link_to "suppr", database, :confirm => 'Are you sure?', :method => :delete %>
        </p>
      </td>
      <% if database.postgres_report.present? %>
        <%= render :partial => 'postgres_report', :collection => database.postgres_report %>
      <% else %>
        <td colspan="4" class="center">Information non disponible.</td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>

<div style="float:left; padding-left:5px;">
<h2>Oracle</h2>
<table>
  <tr>
    <th>Serveurs</th>
    <%= database_headers_for("oracle") %>
  </tr>
  <% for database in oracle_databases %>
    <% height = database.oracle_report.size %>
    <% height = 1 if height == 0 %>
    <tr>
      <td rowspan="<%= height %>">
        <%= database_nodes database %>
        <p class="actions">
          <%= link_to "edit", edit_database_path(database) %>
          | <%= link_to "suppr", database, :confirm => 'Are you sure?', :method => :delete %>
        </p>
      </td>
      <% if database.oracle_report.present? %>
        <%= render :partial => 'oracle_report', :collection => database.oracle_report %>
      <% else %>
        <td colspan="4" class="center">Information non disponible.</td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
