<p class="actions">
  <%= link_to "Déclarer un serveur de bases de données", new_database_path %>
</p>

<table>
  <tr>
    <th>Serveurs</th>
    <th>Instance</th>
    <th>IP:Port</th>
    <th>Bases ou Schemas</th>
  </tr>
  <% for database in @databases %>
    <% height = database.postgres_report.size %>
    <% height = 1 if height == 0 %>
    <tr>
      <td rowspan="<%= height %>">
        <%= database_nodes database %><br />
        <span class="offset actions">
          <%= link_to "edit", edit_database_path(database) %>
          | <%= link_to "suppr", database, :confirm => 'Are you sure?', :method => :delete %>
        </span>
      </td>
      <% if database.postgres_report.present? %>
        <%= render :partial => 'postgres_report', :collection => database.postgres_report %>
      <% else %>
        <td colspan="3" class="center">Information non disponible.</td>
      <% end %>
    </tr>
  <% end %>
</table>
