<% if oracle_report_counter != 0 %><tr><% end %>
<td class="center">
  <strong>
    <abbr title="<%= oracle_report["host"] %>"><%= oracle_report["ora_instance"] %></abbr>
  </strong>
</td>
<td class="center">
  <%= oracle_report["ip"] %><br />
  <strong><%= oracle_report["port"] %></strong>
</td>
<td>
  <% if oracle_report["schemas"].present? %>
  <ul class="databases">
  <% oracle_report["schemas"].keys.sort.each do |schema| %>
    <% size = oracle_report["schemas"][schema] %>
    <li><%= schema %><span style="float:right; padding-left:1em"><%= display_size(size) %></span></li>
  <% end %>
    <li style="font-weight:bold;">
      Total <span style="float:right; padding-left:1em"><%= display_size(oracle_report["schemas"].values.sum) %></span>
    </li>
  </ul>
  <% end %>
</td>
<td></td>
<% if oracle_report_counter != 0 %></tr><% end %>
