<% if postgres_report_counter != 0 %><tr><% end %>
<td class="center">
  <strong>
    <abbr title="<%= postgres_report["host"] %>"><%= postgres_report["pg_cluster"] %></abbr>
  </strong>
</td>
<td class="center">
  <%= postgres_report["ip"] %><br />
  <strong><%= postgres_report["port"] %></strong>
</td>
<td>
  <% if postgres_report["databases"].present? %>
  <span class="databases-summary" style="display:none;">
    <%= databases_summary(postgres_report["databases"]) %>
  </span>
  <ul class="databases-details">
  <% postgres_report["databases"].keys.sort.each do |db| %>
    <% size = postgres_report["databases"][db] %>
    <li><%= db %><span style="float:right; padding-left:1em"><%= display_size(size) %></span></li>
  <% end %>
    <li style="font-weight:bold;">
      Total <span style="float:right; padding-left:1em"><%= display_size(postgres_report["databases"].values.sum) %></span>
    </li>
  </ul>
  <% end %>
</td>
<td></td>
<% if postgres_report_counter != 0 %></tr><% end %>
