<% if postgres_report_counter != 0 %><tr><% end %>
<td class="database-instance center">
  <abbr title="<%= postgres_report["host"] %>"><%= postgres_report["pg_cluster"] %></abbr>
</td>
<td class="database-ip center">
  <%= postgres_report["ip"] %>
</td>
<td class="database-port center">
  <%= postgres_report["port"] %>
</td>
<td>
  <% if postgres_report["databases"].present? %>
  <% if databases_view_mode == "normal" %>
  <span class="databases-summary">
    <%= databases_summary(postgres_report["databases"]) %>
  </span>
  <% elsif databases_view_mode == "detailed" %>
  <ul class="databases-details">
  <% postgres_report["databases"].keys.sort.each do |db| %>
    <% size = postgres_report["databases"][db] %>
    <li><%= db %><span style="float:right; padding-left:1em"><%= display_size(size) %></span></li>
  <% end %>
    <li style="font-weight:bold;">
      Total <span style="float:right; padding-left:1em"><%= display_size(postgres_report["databases"].values.sum) %></span>
    </li>
  </ul>
  <% end %>
  <% end %>
</td>
<% if postgres_report_counter != 0 %></tr><% end %>
