<% title t(:databases) %>

<div id="databases" class="items_list span12">

<%= action_links do %>
  <div class="navbar-inner">
    <div class="nav">
      <%= link_to t(:add), new_database_path %>
    </div>
    <ul class="nav pull-right">
      <li><%= link_to image_tag("chart_bar.png", size: "16x16"), distribution_databases_path %></li>
      <li><%= link_to image_tag("file_extension_pdf.png", size: "16x16"), databases_path(format: "pdf") %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag "3d_glasses.png", size: "16x16" %><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <%= context_li t(:synthetic_view), databases_path(view_mode: "normal"), current: (databases_view_mode == "normal") %>
          <%= context_li t(:detailed_view), databases_path(view_mode: "detailed"), current: (databases_view_mode == "detailed") %>
          <%= context_li t(:parameters_view), databases_path(view_mode: "parameters"), current: (databases_view_mode == "parameters") %>
        </ul>
      </li>
    </ul>
  </div>
<% end %>

<table class="pretty list databases">
  <%= form_tag databases_path(params), id: "filters", method: :get do -%>
  <tr class="filters fixed-size">
    <td style="width:15em;"><%= text_field_tag "by_name", params[:by_name] %></td>
    <td style="width:12em;"><%= select_tag "by_type", options_for_select([["",""], ["PostgreSQL", "postgres"], ["Mysql", "mysql"], ["Oracle", "oracle"]], params[:by_type]).html_safe -%></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>

  <tbody id="databases_list">
    <%= render 'list' %>
  </tbody>
</table>
</div>
