<% title "#{t(:database)} #{@database.name.upcase}" %>

<div class="grid_12 center">

<%= action_links do %>
  <%= link_to t(:edit), edit_database_path(@database) %> |
  <%= link_to t(:delete), @database, confirm: t(:text_are_you_sure), method: :delete %> |
  <%= link_to t(:back_to_the_list), databases_path %>
<% end %>

<table class="pretty list database">
  <thead>
    <tr>
      <th colspan="4"><%= @database.name %></th>
    </tr>
  </thead>
  <%= show_for @database do |a| %>
    <tr class="wrapper database_servers">
      <td colspan="4">
        <ul>
        <% @database.servers.each do |server| %>
          <li><%= ServerDecorator.new(server).short_line %></li>
        <% end %>
        </ul>
      </td>
    </tr>
  <% end if @database.servers.any? %>
  <% if @database.postgres_report.present? or @database.oracle_report.present? %>
  <thead>
    <tr>
      <%= @database.table_headers %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "#{@database.type}_report",
               collection: @database.send(:"#{@database.type}_report") %>
  </tbody>
  <% end %>
</table>

</div>
