<% title "Base de données" %>

<div class="grid_12 center">

<%= action_links do %>
  <%= link_to "Editer", edit_database_path(@database) %> |
  <%= link_to "Supprimer", @database, :confirm => t(:text_are_you_sure), :method => :delete %> |
  <%= link_to "Retourner à la liste", databases_path %>
<% end %>

<table class="pretty list database">
  <thead>
    <tr>
      <th colspan="4">Base <%= @database.name %></th>
    </tr>
  </thead>
  <%= show_for @database do |a| %>
    <tr class="wrapper database_servers">
      <td colspan="4">
        <% if @database.servers.any? %>
          <ul>
          <% @database.servers.each do |server| %>
            <li><%= display_server(server) %></li>
          <% end %>
          </ul>
        <% else %>
          <p>Aucune server liée.</p>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% if @database.postgres_report.present? or @database.oracle_report.present? %>
  <thead>
    <tr>
      <%= database_headers_for(@database.database_type) %>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "#{@database.database_type}_report",
               :collection => @database.send(:"#{@database.database_type}_report") %>
  </tbody>
  <% end %>
</table>

</div>
