<% title t(:backup_exceptions) %>

<div id="backup_exceptions" class="items_list grid_12">
  
<%= action_links do %>
  <%= link_to t(:add_an_exception), new_backup_exception_path %> | 
  <%= link_to t(:back_to_backup_jobs), backup_jobs_path %>
<% end %>

<table class="pretty list">
  <thead>
    <tr>
      <th class="left" style="width:11em;"><%= t(:user) %></th>
      <th class="left"><%= t(:reason) %></th>
      <th class="left" style="width:40%;"><%= t(:server_ids) %></th>
      <th style="width:38px"></th>
    </tr>
  </thead>
  <tbody id="backup_exceptions_list" class="long-list">
  <% @backup_exceptions.each do |backup_exception| %>
    <tr>
      <td class="tiny"><%= backup_exception.user.try(:name) %></td>
      <td><%= backup_exception.reason %></td>
      <td><%= backup_exception.servers.sort_by(&:name).map{|s| link_to s,s}.join(", ").html_safe %></td>
      <td>
        <%= link_to_edit edit_backup_exception_path(backup_exception) %>
        <%= link_to_delete backup_exception %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

</div>
