<p class="tomcat-cron">
  <%= link_to_servername cron.server %> <%= cron.name %> &rarr; user: <code><%= cron.user %></code>, fréquence: <code><%= cron.frequency %></code>
  <br />
  <pre><%= cron.command %></pre>
</p>
