  <tr class="fix-on-scroll">
    <th><%= t(:application) %></th>
    <th><%= t(:servers) %></th>
    <th><%= t(:applicaiton_instances) %></th>
    <th>JVM</th>
    <th><%= t(:cerbere) %></th>
    <th><%= t(:crons) %></th>
    <th><%= t(:database_short) %></th>
  </tr>
  <% @tomcats.sort_by do |t|
       [ t.dns, t.server.name.split("-").last.to_i, t.name.split("_").last.to_i ]
     end.group_by(&:dns).each do |dns,tomcats|%>
  <tr>
    <% tomcat = tomcats.first %>
    <% cronjobs = tomcats.map(&:cronjobs).flatten %>
    <td>
      <%= tomcat.dns %>
      <% vips = tomcats.map(&:vip).compact %>
      <% if vips.present? %>
        <ul class="tomcat_vips">
          <%= vips.sort.uniq.map{|n| "<li>via #{n}</li>"}.join("\n").html_safe %>
        </ul>
      <% end %>
    </td>
    <td class="center">
      <%= tomcats.map{|t| link_to_server_if_exists t.server}.sort.uniq.join("<br/>").html_safe %>
    </td>
    <td class="center">
      <%= tomcats.map(&:name).sort.uniq.join("<br/>").html_safe %>
    </td>
    <td class="center">
      <%= tomcats.map(&:java_version).sort.uniq.join("<br/>").html_safe %>
      <p class="details">
        <%= tomcats.map{|t| "#{t.java_xms} / #{t.java_xmx}"}.sort.uniq.join("<br/>").html_safe %>
      </p>
    </td>
    <td class="center">
      <% if tomcat.cerbere %>
        <%= image_tag("lock.png", size: "16x16") %><br />
        <span class="<%= tomcat.cerbere_csac ? "csacok" : "csacko" %>">csac</span>
      <% end %>
    </td>
    <td class="center">
      <% if cronjobs.any? %>
        <%= link_to image_tag("stopwatch_start.png", size: "16x16", class: "inline"),
                    "##{tomcat.dns.parameterize}", rel: "facebox" %><%= content_tag(:span, "×#{cronjobs.size}", class: "tinier") if cronjobs.size > 1 %>
       <%= render partial: "cronjobs/cron_collection",
                  locals: {title: "Crons #{tomcat.dns}", html_id: tomcat.dns.parameterize, crons: cronjobs,
                              context: "Tous les crons: " +
                                          cronjobs.map(&:server).uniq.sort_by(&:name).map do |s|
                                            link_to(s.name, cronjobs_path(by_server: s.id))
                                          end.join(" ").html_safe } %>
      <% end %>
    </td>
    <td>
      <% if tomcat.jdbc_url %>
        <%= tomcat.jdbc_server %><br />
        <%= tomcat.jdbc_user %> @ <%= tomcat.jdbc_db %>
      <% end %>
    </td>
    <!--<td class="links center">
      <%= link_to "Nagios", "#", title: "Nagios #{tomcat.dns}", class: "link-to-nagios" %>
      <%= link_to "Munin", "#", title: "Munin #{tomcat.dns}", class: "link-to-munin" %>
      <br />
      <%= link_to "Redmine", "#", title: "Redmine #{tomcat.dns}", class: "link-to-redmine" %>
      <%= link_to "Doku", "#", title: "Dokuwiki #{tomcat.dns}", class: "link-to-dokuwiki" %>
    </td>-->
  </tr>
  <% end %>
