<h1>Tomcats</h1>
<table>
  <tr>
    <th>Application</th>
    <th>Serveurs</th>
    <th>Instance(s)</th>
    <th>Base</th>
    <th>Liens</th>
  </tr>
  <% @tomcats.sort_by do |t|
       [ t[:dns], t[:server].split("-").last.to_i, t[:tomcat].split("_").last.to_i ]
     end.group_by do |t|
       t[:dns]
     end.each do |dns,tomcats|%>
  <tr>
    <% tomcat = tomcats.first %>
    <td><%= tomcat[:dns] %></td>
    <td><%= tomcats.map{|t| t[:server]}.sort.uniq.join("<br/>").html_safe %></td>
    <td><%= tomcats.map{|t| t[:tomcat]}.sort.uniq.join("<br/>").html_safe %></td>
    <td><%= tomcat[:jdbc_server] %><br />
        <%= tomcat[:jdbc_user] %> @ <%= tomcat[:jdbc_db] %></td>
    <td>
      Supervision (nagios)<br/>
      Graphes (munin)<br/>
      Projet (redmine)<br/>
      Doc (dokuwiki)<br/>
    </td>
  </tr>
  <% end %>
</table>
