  <tr class="fix-on-scroll">
    <th><%= t(:application) %></th>
    <th><%= t(:servers) %></th>
    <th><%= t(:application_instances) %></th>
    <th>JVM</th>
    <th><%= t(:cerbere) %></th>
    <th><%= t(:crons) %></th>
    <th><%= t(:database_short) %></th>
  </tr>
  <% @tomcats.sort_by do |t|
       [ t.dns, t.server_name.to_s.split("-").last.to_i, t.name.to_s.split("_").last.to_i ]
     end.group_by(&:dns).each do |dns,tomcats|%>
  <tr>
    <% tomcat = tomcats.first %>
    <% cronjobs = tomcats.map(&:cronjobs).flatten %>
    <td>
      <%= tomcat.dns %>
      <%= tomcat_vips_if_any(tomcats) %>
    </td>
    <td class="center">
      <%= tomcat_links_to_servers(tomcats) %>
    </td>
    <td class="center">
      <%= tomcat_names(tomcats) %>
    </td>
    <td class="center">
      <%= tomcat_java_versions(tomcats) %>
      <%= tomcat_jvm_params_if_any(tomcats) %>
    </td>
    <td class="center">
      <%= tomcat_cerbere(tomcat) %>
    </td>
    <td class="center">
      <% if cronjobs.any? %>
        <%= link_to image_tag("stopwatch_start.png", size: "16x16", class: "inline"),
                    "##{tomcat.dns.parameterize}", rel: "facebox" %><%= content_tag(:span, "×#{cronjobs.size}", class: "tinier") if cronjobs.size > 1 %>
       <%= render partial: "cronjobs/cron_collection",
                  locals: {title: "Crons #{tomcat.dns}", html_id: tomcat.dns.parameterize, crons: cronjobs,
                              context: "Tous les crons: " +
                                          cronjobs.map(&:server).uniq.sort_by(&:name).map do |s|
                                            link_to(s.name, cronjobs_path(by_server: s.id))
                                          end.join(" ").html_safe } %>
      <% end %>
    </td>
    <td>
      <%= tomcat_datasource(tomcat) %>
    </td>
  </tr>
  <% end %>
