  <tr class="fix-on-scroll">
    <th>Application</th>
    <th>Serveurs</th>
    <th>Instances</th>
    <th>JVM</th>
    <th>Xms / Xmx</th>
    <th>Cerbere</th>
    <th>Crons</th>
    <th>Base</th>
  </tr>
  <% @tomcats.sort_by do |t|
       [ t.dns, t.server.split("-").last.to_i, t.tomcat.split("_").last.to_i ]
     end.group_by(&:dns).each do |dns,tomcats|%>
  <tr>
    <% tomcat = tomcats.first %>
    <% crons = tomcats.map(&:crons).flatten %>
    <td>
      <%= tomcat.dns %>
      <ul class="tomcat_vips">
        <%= tomcats.map(&:vip).sort.uniq.map{|n| "<li>via #{n}</li>"}.join("\n").html_safe %>
      </ul>
    </td>
    <td class="center">
      <%= tomcats.map{|t| link_to_server_if_exists t.server}.sort.uniq.join("<br/>").html_safe %>
    </td>
    <td class="center">
      <%= tomcats.map(&:tomcat).sort.uniq.join("<br/>").html_safe %>
    </td>
    <td class="center">
      <%= tomcats.map(&:java_version).sort.uniq.join("<br/>").html_safe %>
    </td>
    <td class="center">
      <%= tomcats.map{|t| "#{t.java_xms} / #{t.java_xmx}"}.sort.uniq.join("<br/>").html_safe %>
    </td>
    <td class="center">
      <% if tomcat.cerbere %>
        <%= image_tag("lock.png") %><br />
        <span class="<%= tomcat.cerbere_csac ? "csacok" : "csacko" %>">csac</span>
      <% end %>
    </td>
    <td class="center">
      <% if crons.any? %>
        <%= link_to image_tag("stopwatch_start.png", :class => "inline"),
                    "##{tomcat.dns.parameterize}", :rel => "facebox" %><%= content_tag(:span, "×#{crons.size}", :class => "tinier") if crons.size > 1 %>
        <%= content_tag(:div, :id => tomcat.dns.parameterize, :style => "display:none;") do %>
          <%= content_tag(:div, :class => "tomcat-crons") do %>
            <div class="contextual">
              Tous les crons:
              <%= crons.map(&:server).uniq.sort_by(&:name).map{|s| link_to(s.name, cronjobs_path(:by_server => s.id))}.join(" ").html_safe %>
            </div>
            <h2>Crons <%= tomcat.dns %></h2>
            <%= render :partial => "cron", :collection => crons %>
          <% end %>
        <% end %>
      <% end %>
    </td>
    <td><%= tomcat.jdbc_server %><br />
        <%= tomcat.jdbc_user %> @ <%= tomcat.jdbc_db %></td>
    <!--<td class="links center">
      <%= link_to "Nagios", "#", :title => "Nagios #{tomcat.dns}", :class => "link-to-nagios" %>
      <%= link_to "Munin", "#", :title => "Munin #{tomcat.dns}", :class => "link-to-munin" %>
      <br />
      <%= link_to "Redmine", "#", :title => "Redmine #{tomcat.dns}", :class => "link-to-redmine" %>
      <%= link_to "Doku", "#", :title => "Dokuwiki #{tomcat.dns}", :class => "link-to-dokuwiki" %>
    </td>-->
  </tr>
  <% end %>
