<h1>Tomcats</h1>
<table>
  <tr>
    <th>Ferme</th>
    <th>Application</th>
    <th>Serveur</th>
    <th>Instance</th>
    <th>Base</th>
  </tr>
  <% @tomcats.sort_by do |t|
       [ t[:server].split("-").last.to_i,
         t[:tomcat].split("_").last.to_i ]
     end.each do |tomcat|%>
  <tr>
    <td><%= tomcat[:vip] %></td>
    <td><%= tomcat[:dns] %></td>
    <td><%= tomcat[:server] %></td>
    <td><%= tomcat[:tomcat] %><br />Xms:<%= tomcat[:java_xms] %>, Xmx:<%= tomcat[:java_xmx] %></td>
    <td><%= tomcat[:jdbc_server] %> (driver=<%= tomcat[:jdbc_driver] %>)<br />
        <%= tomcat[:jdbc_user] %> @ <%= tomcat[:jdbc_db] %></td>
  </tr>
  <% end %>
</table>
