<tr id="fix-on-scroll">
  <th>Serveur</th>
  <th>Instance</th>
  <th>JVM</th>
  <th>Xms / Xmx</th>
  <th>Home</th>
  <th>Applications</th>
</tr>
<% @tomcats_old.each do |tomcat|%>
<tr>
  <td><%= link_to_servername(tomcat[:server]).html_safe %></td>
  <td><%= tomcat[:tomcat] %></td>
  <td><%= tomcat[:java] %></td>
  <td><%= tomcat[:xms] %> / <%= tomcat[:xmx] %></td>
  <td><%= tomcat[:home] %></td>
  <td><%= tomcat[:apps] %></td>
</tr>
<% end %>
