<% title "Tomcats historiques" %>

<div id="tomcats_old" class="items_list grid_12">

<%= render "submenu" %>

<table class="pretty list">
  <%= form_tag old_tomcats_path(params), id: "filters", method: :get do -%>
  <tr class="filters">
    <td><%= select_tag "by_server", options_for_select([["",""]] + @filters.server, params[:by_server]).html_safe -%></td>
    <td><%= select_tag "by_tomcat", options_for_select([["",""]] + @filters.tomcat, params[:by_tomcat]).html_safe -%></td>
    <td></td>
    <td></td>
    <td></td>
    <td><span id="tomcats_old_counter" class="counter"><%= @tomcats_old.count %></span></td>
  </tr>
  <% end %>
  <tbody id="tomcats_old_list"><%= render 'list_old' %></tbody>
</table>

</div>
