<% title "Tomcats" %>

<div id="tomcats" class="items_list grid_12">

<%= action_links do %>
  <div class="contextual">
    <%= link_to image_tag("file_extension_pdf.png"), tomcats_path(params.merge(:format => "pdf")) %>
  </div>
<% end %>

<table class="pretty">
  <%= form_tag tomcats_path(params), :id => "filters", :method => :get do -%>
  <tr class="filters">
    <td></td>
    <td><%= select_tag "by_server", options_for_select([["",""]] + @filters[:server], params[:by_server]).html_safe -%></td>
    <td><%= select_tag "by_tomcat", options_for_select([["",""]] + @filters[:tomcat], params[:by_tomcat]).html_safe -%></td>
    <td><%= select_tag "by_java", options_for_select([["",""]] + @filters[:java_version], params[:by_java]).html_safe -%></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  <tbody id="tomcats_list"><%= render 'list' %></tbody>
</table>

</div>
