<%= form_tag machines_path(params), :id => "filters", :method => :get do -%>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <% (controller.scopes_configuration || {}).keys.each do |scope| %>
    <%= hidden_field_tag scope, params[scope] %>
  <% end %>
<tr class="filters">
  <td>
    <%= text_field_tag "search", params[:search], :size => 12 %>
  </td>
  <td>
	    <%= select_tag "by_rack", options_for_select([["",""]] + PhysicalRack.all.map{|r| [r,r.id]},params[:by_rack]).html_safe -%>
  </td>
  <td></td>
  <td></td>
  <td>
	    <%= select_tag "by_mainteneur", options_for_select([["",""]] + Mainteneur.all.map{|r| [r.name,r.id]},params[:by_mainteneur]).html_safe -%>
  </td>
  <td></td>
  <td><span id="machines_counter" class="counter"><%= @machines.count %></span></td>
</tr>
<% end -%>
