<% hidden_if_virtual = @machine.virtuelle? ? 'display:none;' : '' %>
<%= simple_form_for(@machine) do |f| %>
  <p class="actions">
    <%= f.button :submit %>
    ou <%= link_to "Retourner à la liste", machines_path %>
    <% unless @machine.new_record? %>
      | <%= link_to "Voir", @machine %>
    <% end %>
  </p>

  <div id="machine_general" class="column_wrapper">
  <table class="inputs">
    <tbody>
      <% if @machine.errors.any? %>
      <tr id="error_explanation"><td colspan="2">
        <h2><%= pluralize(@machine.errors.count, "erreur") %> :</h2>
        <ul>
        <% @machine.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </td></tr>
      <% end %>
      <%= f.input :nom, :required => true, :wrapper_class => 'th' %>
      <tr class="wrapper machine_applications">
        <td colspan="2">Description:<br/><%= f.text_area :description, :size => "33x6" %></td>
      </tr>
      <%= f.input :ip %>
      <!--<%= f.input :type_serveur %>-->
      <%= nested_select_tag(OperatingSystem, f, nil, :operating_system_id, :nom) %>
      <%= f.input :virtuelle %>
      <%= f.association :service %>
      <%= f.association :theme %>
      <!--<%= f.input :ancien_nom %>-->
    </tbody>
    <tbody id="machine-maintenance" style="<%= hidden_if_virtual %>">
      <tr><th colspan="2">Maintenance</th></tr>
      <%= f.association :mainteneur %>
      <%= f.input :delivered_on, :as => :date, :order => [:day, :month, :year], :use_month_numbers => true,
                                 :start_year => Date.today.year-5, :end_year => Date.today.year+10 %>
      <%= f.input :maintained_until, :as => :date, :order => [:day, :month, :year], :use_month_numbers => true,
                                     :start_year => Date.today.year-5, :end_year => Date.today.year+10 %>
      <%= f.input :type_contrat %>
      <%= f.input :numero_serie %>
    </tbody>
  </table>
  </div>

  <div id="machine_hardware" class="column_wrapper">
  <table class="inputs">
    <thead>
      <tr><th colspan="2" id="machine-hardware-title"><%= @machine.virtuelle? ? "Ressources" : "Matériel" %></th></tr>
    </thead>
    <tbody id="machine-physical-hardware" style="<%= hidden_if_virtual %>">
      <%= f.association :site %>
      <%= f.association :physical_rack %>
      <%= f.input :modele %>
      <%= f.input :marque %>
    </tbody>
    <tbody>
      <%= f.input :nb_proc, :collection => [1,2,4,6,8,10,12,16,24,32] %>
      <%= f.input :ref_proc %>
      <%= f.input :frequence, :as => :string %>
      <%= f.input :nb_coeur, :collection => [1,2,4,6,8] %>
      <%= f.input :memoire %>
      <%= f.input :type_disque %>
      <%= f.input :nb_disque, :as => :string %>
      <%= f.input :taille_disque, :as => :string %>
      <%= f.input :type_disque_alt %>
      <%= f.input :nb_disque_alt, :as => :string %>
      <%= f.input :taille_disque_alt, :as => :string %>
      <%= f.association :media_drive %>
      <%= f.input :nb_rj45, :collection => 0..32 %>
      <%= f.input :nb_fc, :collection => 0..12 %>
      <%= f.input :nb_iscsi, :collection => 0..12 %>
    </tbody>
  </table>
  </div>

  <div id="machine_applications" class="column_wrapper">
  <table class="inputs">
    <thead>
      <tr><th colspan="2">Applications</th></tr>
    </thead>
    <tbody>
      <tr class="wrapper machine_applications">
        <td colspan="2">
          <% Application.all(:order => :nom).each do |application| %>
            <%= check_box_tag 'machine[application_ids][]', application.id, @machine.applications.include?(application) %>
            <%= application.nom %>
            <br />
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

<% end %>
