<tr id="fix-on-scroll">
  <%= sortable_th "name", nil, :style => "min-width:10em" %>
  <%= sortable_th "ipaddress", nil, :style => "width:10em" %>
  <th style="width:12em">OS</th>
  <th style="width:8em">Localisation</th>
  <%= sortable_th "manufacturer,model", t(:fullmodel), :style => "min-width:12em" %>
</tr>
<% for machine in @machines %>
  <tr class="has-opaques">
    <td>
      <div class="contextual opaque">
        <%= link_to image_tag("delete.png"), machine, :confirm => t(:text_confirm_delete, :element => machine.name), :method => :delete %>
      </div>
      <%= link_to machine.name, machine %>
    </td>
    <td class="center"><%= machine.ipaddress %></td>
    <td><%= @operating_systems[machine.operating_system_id] %></td>
    <td class="center"><%= link_to_rack @racks[machine.physical_rack_id] %></td>
    <td><%= machine.fullmodel %></td>
  </tr>
<% end %>
