<script type="text/javascript">
$(function() {
  $('form#filters').observe(1, function(){ $(this).submit(); });
});
</script>

<table class="pretty ninety">
  <% form_tag '', :id => "filters", :method => :get do -%>
  <tr class="filters">
    <td></td>
    <td>
	    <%= select_tag "by_rack", options_for_select([["",""]] + PhysicalRack.all.map{|r| [r.nom,r.id]},params[:by_rack]).html_safe -%>
    </td>
    <td></td>
    <td></td>
    <td>
	    <%= select_tag "by_mainteneur", options_for_select([["",""]] + Mainteneur.all.map{|r| [r.nom,r.id]},params[:by_mainteneur]).html_safe -%>
    </td>
    <td></td>
    <td></td>
  </tr>
  <% end -%>
  <tr>
    <%= sortable_th "nom" %>
    <th>Localisation</th>
    <%= sortable_th "marque", t(:fullmodel) %>
    <th>N° de série</th>
    <th style="width:25%;">Mainteneur - Type de contrat</th>
    <%= sortable_th "delivered_on" %>
    <%= sortable_th "maintained_until" %>
  </tr>
  <% for machine in @machines %>
  <tr>
    <td><%= link_to machine.nom, machine %></td>
    <td><%= machine.localization %></td>
    <td><%= machine.fullmodel %></td>
    <td class="center"><%= machine.numero_serie %></td>
    <td>
    <% if machine.mainteneur %>
      <%= render_mainteneur(machine) %>
    <% end %>
    </td>
    <td class="center"><%= l(machine.delivered_on) if machine.delivered_on.present? %></td>
    <td class="center"><%= maintenance_limit(machine.maintained_until) %></td>
  </tr>
  <% end %>
</table>
