<%= action_links do %>
  <div class="contextual contextswitch">
    <span class="toggle">Changer de vue</span>
    <ul class="contexts">
      <%= context_li "Vue serveurs", machines_path(:view_mode => "normal"), :current => !maintenance_mode? %>
      <%= context_li "Vue maintenance", machines_path(:view_mode => "maintenance"), :current => maintenance_mode? %>
    </ul>
  </div>
  <%= link_to "Ajouter une machine", new_machine_path %> |
  <%= link_to "Export PDF", machines_path(params.merge(:format => "pdf")) %>
<% end %>

<%= render(maintenance_mode? ? "list_maintenance" : "list_normal") %>
