<tr>
  <%= sortable_th "name", nil, :style => "width:10em" %>
  <th style="width:8em">Localisation</th>
  <%= sortable_th "manufacturer,model", t(:fullmodel), :style => "width:10em" %>
  <th style="width:10em">N° de série</th>
  <th>Mainteneur - Type de contrat</th>
  <%= sortable_th "delivered_on", nil, :style => "width:8em" %>
  <%= sortable_th "maintained_until", nil, :style => "width:8em" %>
</tr>
<% for machine in @machines %>
<tr>
  <td><%= link_to machine.name, machine %></td>
  <td><%= link_to_rack @racks[machine.physical_rack_id] %></td>
  <td><%= machine.fullmodel %></td>
  <td class="center"><%= machine.serial_number %></td>
  <td>
  <% if machine.mainteneur_id %>
    <%= render_mainteneur(machine, @maintainers[machine.mainteneur_id]) %>
  <% end %>
  </td>
  <td class="center"><%= l(machine.delivered_on) if machine.delivered_on.present? %></td>
  <td class="center"><%= maintenance_limit(machine.maintained_until) %></td>
</tr>
<% end %>
