<tr>
  <%= sortable_th "name", nil, :style => "width:10em" %>
  <th>IP</th>
  <th style="width:12em">OS</th>
  <%= sortable_th "manufacturer,model", t(:fullmodel), :style => "width:12em" %>
  <th style="width:8em">Localisation</th>
  <th colspan="2" class="actions" style="width:4em">Actions</th>
</tr>
<% for machine in @machines %>
  <tr>
    <td><%= link_to machine.name, machine %></td>
    <td><%= machine.ip %></td>
    <td><%= machine.operating_system %></td>
    <td><%= machine.fullmodel %></td>
    <td><%= machine.physical_rack %></td>
    <td class="actions"><%= link_to "Editer", edit_machine_path(machine) %></td>
    <td class="actions"><%= link_to "Supprimer", machine, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
