<% title "Machines" %>

<div id="machines" class="items_list">
<table class="pretty">
  <tr>
    <%= sortable_th "nom" %>
    <th>Localisation</th>
    <%= sortable_th "marque", t(:fullmodel) %>
    <th>N° de série</th>
    <th>Mainteneur - Type de contrat</th>
    <%= sortable_th "delivered_on" %>
    <%= sortable_th "maintained_until" %>
  </tr>
  <% for machine in @machines %>
  <tr>
    <td><%= link_to machine.nom, machine %></td>
    <td><%= machine.localization %></td>
    <td><%= machine.fullmodel %></td>
    <td class="center"><%= machine.numero_serie %></td>
    <td>
    <% if machine.mainteneur %>
      <%= render_mainteneur(machine) %>
    <% end %>
    </td>
    <td class="center"><%= l(machine.delivered_on) if machine.delivered_on.present? %></td>
    <td class="center"><%= maintenance_limit(machine.maintained_until) %></td>
  </tr>
  <% end %>
</table>
</div>
