<% title "Machines" %>

<div id="machines" class="items_list">
<table class="pretty">
  <tr>
    <th class="<%= sortable_css_class("nom") %>"><%= sortable "nom" %></th>
    <th>Localisation</th>
    <th class="<%= sortable_css_class("fullmodel") %>"><%= sortable "marque", t(:fullmodel) %></th>
    <th>N° de série</th>
    <th>Mainteneur - Type de contrat</th>
    <th class="<%= sortable_css_class("delivered_on") %>"><%= sortable "delivered_on", t(:delivered_on) %></th>
    <th class="<%= sortable_css_class("maintained_until") %>"><%= sortable "maintained_until", t(:maintained_until) %></th>
  </tr>
  <% for machine in @machines %>
  <tr>
    <td><%= link_to machine.nom, machine %></td>
    <td><%= machine.localization %></td>
    <td><%= machine.fullmodel %></td>
    <td class="center"><%= machine.numero_serie %></td>
    <td>
    <% if machine.mainteneur %>
      <%= render_mainteneur(machine) %>
    <% end %>
    </td>
    <td class="center"><%= l(machine.delivered_on) if machine.delivered_on.present? %></td>
    <td class="center"><%= maintenance_limit(machine.maintained_until) %></td>
  </tr>
  <% end %>
</table>
</div>
