<% title "Machine" %>

<p class="actions">
  <%= link_to 'Editer', edit_machine_path(@machine) %> |
  <%= link_to 'Supprimer', @machine, :confirm => 'Etes-vous sûr ?', :method => :delete %> |
  <%= link_to 'Retourner à la liste', machines_path %>
</p>

<div id="machine_general" style="padding:0 10px; float:left">
<table class="show_item">
  <thead>
    <tr>
      <th colspan="2" style="font-size:14px;"><%= @machine.nom %></th>
    </tr>
  </thead>
  <%= show_for @machine do |s| %>
    <% if @machine.description.present? %>
    <tr class="wrapper machine_description">
      <td colspan="2">
        Description: <strong><%= @machine.description %></strong>
      </td>
    </tr> 
    <% end %>
    <%= s.attribute :ip %>
    <!--<%= s.attribute :type_serveur %>-->
    <%= s.attribute :operating_system %>
    <%= s.attribute :service %>
    <%= s.attribute :theme %>
    <!--<%= s.attribute :ancien_nom %>-->
  <% end %>
  <thead>
    <tr><th colspan="2">Maintenance</th></tr>
  </thead>
  <%= show_for @machine do |s| %>
    <%= s.attribute :mainteneur %>
    <%= s.attribute :date_mes %>
    <%= s.attribute :fin_garantie %>
    <%= s.attribute :type_contrat %>
    <%= s.attribute :numero_serie %>
  <% end %>
</table>
</div>

<div id="machine_hardware" style="padding:0 10px; float:left">
<table class="show_item">
  <thead>
    <tr>
      <th colspan="2">Matériel</th>
    </tr>
  </thead>
  <%= show_for @machine do |s| %>
    <%= s.attribute :localization %>
    <%= s.attribute :fullmodel %>
    <%= s.attribute :cpu %>
    <%= s.attribute :memoire %>
    <%= s.attribute :virtuelle %>
    <%= s.attribute :disks %>
    <%= s.attribute :media_drive %>
    <%= s.attribute :nb_rj45 %>
    <%= s.attribute :nb_fc %>
    <%= s.attribute :nb_iscsi %>
  <% end %>
</table>
</div>

<div id="machine_relations" style="padding:0 10px; float:left">
<table class="show_item">
  <thead>
    <tr><th colspan="2">Applications liées</th></tr>
  </thead>
  <%= show_for @machine do |s| %>
    <tr class="wrapper machine_applications">
      <td colspan="2">
        <% if @machine.applications.any? %>
          <ul>
          <% @machine.applications.each do |application| %>
            <li><%= link_to application.nom, application %></li>
          <% end %>
          </ul>
        <% else %>
          <p>Aucune application liée.</p>
        <% end %>
      </td>
    </tr> 
  <% end %>
</table>
</div>
