<% title "Machine" %>

<table class="show_item">
  <thead>
    <tr>
      <th colspan="2"><%= @machine.nom %></th>
    </tr>
  </thead>
  <%= show_for @machine do |s| %>
    <%= s.attribute :ip %>
    <%= s.attribute :ancien_nom %>
    <%= s.attribute :os_id %>
    <%= s.attribute :service_id %>
    <%= s.attribute :theme %>
    <tr class="wrapper machine_description">
      <td colspan="2">
        Description:<br />
        <strong><%= @machine.description %></strong>
      </td>
    </tr> 
    <tr class="wrapper machine_applications">
      <td colspan="2">
        Applications liées:<br />
        <% if @machine.applications.any? %>
          <ul>
          <% @machine.applications.each do |application| %>
            <li><%= link_to application.nom, application %></li>
          <% end %>
          </ul>
        <% else %>
          <p>Aucune application liée.</p>
        <% end %>
      </td>
    </tr> 
  <% end %>
</table>

<table class="show_item">
  <thead>
    <tr>
      <th colspan="2">Détails / matériel</th>
    </tr>
  </thead>
  <%= show_for @machine do |s| %>
    <%= s.attribute :site_id %>
    <%= s.attribute :rack_id %>
    <%= s.attribute :type_serveur %>
    <%= s.attribute :numero_serie %>
    <%= s.attribute :marque %>
    <%= s.attribute :modele %>
    <%= s.attribute :nb_proc %>
    <%= s.attribute :ref_proc %>
    <%= s.attribute :frequence %>
    <%= s.attribute :nb_coeur %>
    <%= s.attribute :memoire %>
    <%= s.attribute :virtuelle %>
    <%= s.attribute :type_disque %>
    <%= s.attribute :nb_disque %>
    <%= s.attribute :taille_disque %>
    <%= s.attribute :type_disque_alt %>
    <%= s.attribute :nb_disque_alt %>
    <%= s.attribute :taille_disque_alt %>
    <%= s.attribute :cddvd_id %>
    <%= s.attribute :nb_rj45 %>
    <%= s.attribute :nb_fc %>
    <%= s.attribute :nb_iscsi %>
    <%= s.attribute :mainteneur_id %>
    <%= s.attribute :date_mes %>
    <%= s.attribute :fin_garantie %>
    <%= s.attribute :type_contrat %>
  <% end %>
</table>

<p class="actions">
  <%= link_to 'Editer', edit_machine_path(@machine) %> |
  <%= link_to 'Supprimer', @machine, :confirm => 'Etes-vous sûr ?', :method => :delete %> |
  <%= link_to 'Retourner à la liste', machines_path %>
</p>
