<% title "Salles d'hébergement" %>

<div class="grid_9 center">

<%= action_links do %>
  <%= link_to "Nouvelle salle", new_site_path %>
<% end %>

<table>
  <tr>
    <th>Nom</th>
    <th colspan="2" class="actions">Actions</th>
  </tr>
<% @sites.each do |site| %>
  <tr>
    <td><%= site.name %></td>
    <td><%= link_to 'Editer', edit_site_path(site) %></td>
    <td><%= link_to 'Supprimer', site, :confirm => 'Etes-vous sur ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>
