<% title "Salles d'hébergement" %>

<div class="grid_9 center">

<%= action_links do %>
  <%= link_to "Nouvelle salle", new_site_path %>
<% end %>

<table class="pretty list">
<thead>
  <tr>
    <th>Nom</th>
    <th>Racks</th>
    <th>Serveurs</th>
    <th></th>
  </tr>
</thead>
<tbody class="long-list">
<% @sites.each do |site| %>
  <tr>
    <td><%= link_to site.name, edit_site_path(site) %></td>
    <td class="center"><%= @racks_count[site.id] || 0 %></td>
    <td class="center"><%= @servers_count[site.id] || 0 %></td>
    <td><%= link_to image_tag("delete.png", :size => "16x16"), site, :confirm => t(:text_are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
<% if @racks_count[nil] || @servers_count[nil] %>
  <tr>
    <td><em>Inconnu</em></td>
    <td class="center"><%= @racks_count[nil] || 0 %></td>
    <td class="center"><%= @servers_count[nil] || 0 %></td>
    <td></td>
  </tr>
<% end %>
</tbody>
</table>

</div>
