<% title t(:configuration_items) %>

<div class="grid_12 center">

<%= form_tag configuration_items_path(params), :id => "filters", :method => :get do -%>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <table class="pretty full list">
    <tr class="filters fixed-size">
      <td><%= select_tag "by_item_type", options_for_select([["",""]] + ConfigurationItem.real_object_classes.map{|k| [k, k]} , params[:by_item_type]).html_safe -%></td>
      <td><span id="configuration_items_counter" class="counter"><%= @configuration_items.count %></span></td>
    </tr>
    <tbody id="configuration_items_list" class="long-list">
      <%= render 'list' %>
    </tbody>
  </table>
<% end -%>

</div>
