<% title t(:configuration_item) %>

<div class="grid_12 center">

<%= action_links do %>
  <%= link_to t(:back_to_the_list), configuration_items_path %>
<% end %>

<table class="show_item full">
  <%= show_for @configuration_item do |s| %>
    <%= s.attribute :item_type %>
    <%= s.attribute :item_id %>
    <%= s.attribute :identifier %>
  <% end %>
</table>

</div>
