<% content_for :sidebar  do %>
  <h2><%= image_tag "settings.png", size: "16x16", class: "inline" %> <%= t(:configuration) %></h2>
  <ul class="simple-list">
    <%= sidebar_item t(:datacenters), datacenters_path, Datacenter.count %>
    <%= sidebar_item t(:hosting_rooms), sites_path, Site.count %>
    <%= sidebar_item t(:physical_racks_long), physical_racks_path, PhysicalRack.count %>
  </ul>
  <ul class="simple-list">
    <%= sidebar_item t(:roles_for_contacts), roles_path, Role.count %>
    <%= sidebar_item t(:operating_systems), operating_systems_path, OperatingSystem.count %>
    <%= sidebar_item t(:components), components_path, Component.count %>
  </ul>
  <ul class="simple-list">
    <%= sidebar_item t(:global_parameters), settings_path %>
    <%= sidebar_item t(:users), users_path, User.count %>
  </ul>
<% end %>

<%= render file: "layouts/application" %>
