<% content_for :sidebar  do %>
  <h2><%= image_tag "settings.png", :class => "inline" %> Configuration</h2>
  <ul class="simple-list">
    <li><%= link_to "Mainteneurs", mainteneurs_path %></li>
    <li><%= link_to "Racks (armoires)", physical_racks_path %></li>
    <li><%= link_to "Salles d'hébergement", sites_path %></li>
    <li><%= link_to "Systèmes d'exploitation", operating_systems_path %></li>
  </ul>
  <ul class="simple-list">
    <li><%= link_to "Paramètres globaux", settings_path %></li>
    <li><%= link_to "Utilisateurs", users_path %></li>
  </ul>
<% end %>

<%= render :file => "layouts/application" %>
