<% content_for :sidebar  do %>
  <h2><%= image_tag "settings.png", :size => "16x16", :class => "inline" %> <%= t(:configuration) %></h2>
  <ul class="simple-list">
    <li><%= link_to t(:physical_racks), physical_racks_path %></li>
    <li><%= link_to t(:hosting_rooms), sites_path %></li>
    <li><%= link_to t(:operating_systems), operating_systems_path %></li>
  </ul>
  <ul class="simple-list">
    <li><%= link_to t(:global_parameters), settings_path %></li>
    <li><%= link_to t(:users), users_path %></li>
  </ul>
<% end %>

<%= render :file => "layouts/application" %>
