<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:title) ? strip_tags(yield(:title)) : t(:default_title) %></title>
  <meta charset="UTF-8">
<% if ! request_from_pdfkit? %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    // reject bad browsers
    $(function() {
      $.reject({
        reject: { all: false, msie: true },
        display: ["firefox","chrome","safari","opera","gcf"],
        header: "<%= t(:text_browser_not_supported_header) %>",
        paragraph1: "<%= t(:text_browser_not_supported_paragraph1) %>",
        paragraph2: "<%= t(:text_browser_not_supported_paragraph2) %>",
        imagePath: '/assets/',
        close: false
      });
    });
  </script>
<% end %>
  <%= stylesheet_link_tag "print.css", media: "print" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>

<body>

  <noscript>
    <%= t(:text_please_activate_javascript) %>
  </noscript>

  <% if user_signed_in? && current_announcement.present? %>
    <div id="announcement" class="hide-when-print <%= Setting.site_announcement_type.presence || "info" %>">
      <%= link_to "×", hide_announcement_path, remote: true, method: :put, class: "close" %>
      <p><%= current_announcement.html_safe %></p>
    </div>
  <% end %>

  <div id="container" class="container">
    <div id="wrap">
      <div id="main">
        <%= render 'layouts/top_menu' %>

        <%= content_tag :div, id: "flash" do %>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "flash-item flash-#{name}" %>
          <% end %>
        <% end unless flash.empty? %>

        <% if show_title? %>
          <div class="row">
            <div class="span12"><%= content_tag(:h1, yield(:title), class: controller.controller_name) %></div>
          </div>
        <% end %>

        <% if content_for?(:sidebar) %>
          <div class="row">
            <div class="span3 hide-when-print">
              <div id="sidebar"><%= yield(:sidebar) %></div>
            </div>
            <%= yield %>
          </div>
        <% else %>
          <div class="row">
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="footer" class="row hide-when-print">
      <div class="span12"><%= show_version %></div>
    </div>
  </div>

  <!-- eventual modal box -->
  <div id="modal" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary validate"><%= t(:validate) %></button>
    </div>
  </div>

  <!-- eventual postit -->
  <div id="postit" class="modal hide postit" tabindex="-1" role="dialog">
    <div class="postit-header"></div>
    <div class="postit-body"></div>
    <div class="postit-footer">
      <button class="btn btn-primary validate"><%= t(:validate) %></button>
    </div>
  </div>

</body>

</html>
