<!DOCTYPE html>
<html>

<head>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <meta charset="UTF-8">
<% if ! request_from_pdfkit? %>
  <noscript><%= stylesheet_link_tag "adapt/mobile.min.css" %></noscript>
  <script>
    var ADAPT_CONFIG = {
      path: '/assets/adapt/', dynamic: true,
      range: [ '0px    to 760px  = mobile.min.css',
               '760px  to 980px  = 720.min.css',
               '980px  to 1280px = 960.min.css',
               '1280px           = 1200.min.css']
               //'1280px to 1600px = 1200.min.css',
               //'1600px to 1920px = 1560.min.css',
               //'1920px           = fluid.min.css' ]
    };
  </script>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
        // reject bad browsers
    $(function() {
      $.reject({
        reject: { all: false, msie: true },
        display: ["firefox","chrome","safari","opera","gcf"],
        header: "Navigateur non supporté",
        paragraph1: "Votre navigateur n'est pas supporté, vous ne pourrez donc pas utiliser correctement cette application.",
        paragraph2: "Veuillez utiliser un navigateur moderne et respectueux des standards :",
        close: false
      });
    });
  </script>
<% end %>
  <%= stylesheet_link_tag "print.css", :media => "print" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>

<body>

  <noscript>
    Vous devriez activer Javascript pour utiliser cette application.
  </noscript>

  <div id="loading"><span>Chargement</span></div>

  <% if logged_in? && current_announcement.present? %>
    <div id="announcement" class="hide-when-print <%= Settler[:site_announcement_type].presence || "info" %>">
      <%= link_to "×", hide_announcement_path, :remote => true, :method => :put, :class => "close" %>
      <p><%= current_announcement.html_safe %></p>
    </div>
  <% end %>

  <div id="container" class="container_12 clearfix">
    <div id="top-menu" class="hide-when-print">
      <ul class="menu-items contextual">
      <% if logged_in? %>
        <li class="connected-as"><%= current_user.name %></li>
        <li><%= link_to "Déconnexion", signout_path %></li>
      <% end %>
      </ul>
      <ul class="menu-items">
        <li><%= link_to image_tag("home.png", :alt=>"Accueil", :size => "16x16"), root_path, :class => "img" %></li>
        <%= render 'layouts/top_menu' if logged_in? %>
      </ul>
    </div>

    <%= content_tag :div, :id => "flash" do %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "flash-item flash-#{name}" %>
      <% end %>
    <% end unless flash.empty? %>

    <div class="grid_12">

    <%= content_tag(:h1, yield(:title), :class => controller.controller_name) if show_title? %>

    </div><!-- end-of-grid_12 -->

    <div class="clear"></div>

    <% if content_for?(:sidebar) %>
      <div class="grid_3 hide-when-print">
        <div id="sidebar"><%= yield(:sidebar) %></div>
      </div>
    <% end %>

    <%= yield %>

    <div class="clear"></div>

    <div id="footer" class="grid_12 hide-when-print">
      <%= show_version %>
    </div>
  </div>

</body>

</html>
